@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container">
	@Html.ActionLink("Events verwalten", "Index", "Events")<br/>
	@Html.ActionLink("Schulen verwalten", "Index", "School")
</div>
