<!DOCTYPE html>
<html>
<head>
	<title>talentify - Zukunft bilden</title>
	<link rel="stylesheet" href="{BaseUrl}/Css/MyFontsWebfontsKit.css" />
	<style>
		div { color: #555 !important; }
	</style>
</head>
	<body>
		
		<table style="width:100%;">
			<tr>
				<td style="width:100%;text-align: center;background: #183343;padding: 10px 0 2px 0;">
					<a href="{BaseUrl}" target="_blank"><img src="{BaseUrl}/Images/logo.png" alt="talentify"/></a>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; font-family: CaeciliaLTPro-56Italic, Arial;color: #183343;font-size: 25px;padding: 15px 0 40px 0;">Die einzigartige und nachhaltige Lernhilfe -<br/>von SchülerInnen für SchülerInnen</td>
			</tr>
			<tr>
				<td style="font-family: CaeciliaLTPro-55Roman, Arial;color: #555;font-size: 14px;padding: 0 0 30px 0;">
					<a href="{BaseUrl}{n-link}">
						<table style="width:100%;background-color:#e6f7f3;">
							<td style="width:40px;vertical-align: top;"><a href="{BaseUrl}{n-link}" class="image-link" style="background-repeat: no-repeat!important;width: 35px;height: 35px;float: left;margin: 0 10px 0 0;padding: 0!important;background: url('{BaseUrl}{n-profile-image}');"></a></td>
							<td style="color:#555;">{n-text}</td>
							<td style="text-align: right;">{n-icon}</td>
						</table>
					</a>
				</td>
			</tr>
			<tr>
				<td style="font-family: CaeciliaLTPro-55Roman, Arial;color: #555;font-size: 14px;padding: 0 0 30px 0;">Du erhältst diese Benachrichtigung weil du auf <a href="http://talentify.me" target="_blank" style="color:#0eb48d;">talentify.me</a> einen Account hast. Du kannst diese unter dem Punkt <a href="{BaseUrl}/Settings" target="_blank" style="color:#0eb48d;">Einstellungen</a> jederzeit deaktivieren.</td>
			</tr>
			<tr>
				<td style="font-family: CaeciliaLTPro-55Roman, Arial;color: #555;font-size: 14px;padding: 0 0 30px 0;">Viel Spaß beim Talente entdecken!<br/><br/>Dein talentify-Team</td>
			</tr>
			<tr>
				<td style="border-top:1px solid #e5e5e5;text-align: center;padding: 10px 0 0 0;">
					<span style="font-family: CaeciliaLTPro-55Roman, Arial;font-size: 14px;color: #183343;margin:0 10px 0 0;">&copy; 2014 talentify</span>
					<a href="{BaseUrl}/Content/Impressum" style="font-family: CaeciliaLTPro-55Roman, Arial;font-size: 14px;color: #183343;text-decoration: none;margin:0 10px 0 0;">Impressum</a>
					<a href="{BaseUrl}/Content/Datenschutz" style="font-family: CaeciliaLTPro-55Roman, Arial;font-size: 14px;color: #183343;text-decoration: none;">Datenschutzbestimmungen</a>
				</td>
			</tr>
		</table>
	</body>
</html>
