@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <title>talentify - Zukunft bilden</title>
   <link rel="icon" type="image/png" href="/Images/talentify-favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta property="og:title" content="talentify - Zukunft bilden"> 
	<meta property="og:type" content="website"> 
	<meta property="og:url" content="http://www.talentify.co"> 
	<meta property="og:description" content="Österreichs SchülerInnen heben ihre Talente. Gemeinsam.">
	<meta property="og:image" content="http://www.talentify.co/Images/share-talentify.jpg" />
	<script src="/Scripts/jquery-2.1.0.min.js"></script>
	<script src="/Scripts/talentismus.min.js"></script>
	<link rel="stylesheet" href="/Css/MyFontsWebfontsKit.css" />
	<link rel="stylesheet" href="/Css/talentify.min.css" />
	<link rel="stylesheet" href="/Css/add-on.css" />
	<!-- fancybox -->
	<script type="text/javascript" src="/Scripts/jquery.fancybox.js?v=2.1.5"></script>
	<link rel="stylesheet" type="text/css" href="/Css/jquery.fancybox.css?v=2.1.5" media="screen" />
	<!-- mailChimp css -->
	<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
	<!-- bootstrap -->
	<script src="/Scripts/Bootstrap/js/bootstrap.min.js"></script>
	<link href="/Scripts/Bootstrap/css/bootstrap.css" rel="stylesheet" />
	<script>
		$(this).ready(function ()
		{
			initPage();
		});

		$(window).resize(function () { initSectionSizes(); });

		function submitNewsletter()
		{
			resetNewsletterForm();
			$('#mce-EMAIL').val($('#newsletter-email').val());
			$('#mc-embedded-subscribe-form').submit();
		}

		function resetNewsletterForm()
		{
			//mce-EMAIL
			$('#mce-EMAIL').val('');
			//mce-FNAME
			$('#mce-FNAME').val('');
			//mce-LNAME
			$('#mce-LNAME').val('');
		}
	</script>
</head>
<body>
	<section id="s-header" class="big-bg">
		<article>
			<a href="/Home"><img class="logo" src="/Images/logo.png" alt="talentify Zukunft bilden."/></a>
			<div class="claim">&Ouml;sterreichs Sch&uuml;lerInnen heben<br/>ihre Talente. Gemeinsam.</div>
		</article>
	</section>
	<section id="s-presse">
		<article>
			<div class="fundraising">
				<h1>Wir z&auml;hlen auf Dich! <span>Unterst&uuml;tze talentify mit deiner Spende!</span></h1>
				<script type="text/javascript" src="https://secure.fundraisingbox.com/app/paymentJS?hash=VDQKAwALiLB7eLKDNQ45OVdRSVhJQpDlPR32ii48LDZBUkpfT3Cp6TsZxocmJzg%2BHU4CDWRwoqUXSpOXKX0yNnYOXUMtaPX1RAzXzgRtOBx3VwkpLTbk9XJai5JNdW9LOQYGLx0F5OcnNN%2BaXCQ9TQ%3D%3D"></script><noscript>Bitte Javascript aktivieren</noscript>
				<a target="_blank" href="http://www.fundraisingbox.com" style="display: inline-block;width: 100%;"><img border="0" style="border: 0 !important" src="https://secure.fundraisingbox.com/images/FundraisingBox-Logo-Widget.png" alt="FundraisingBox Logo" /></a>
			</div>
		</article>
	</section>
	<section id="s-spenden">
		<article>
			<h1>Wof&uuml;r werden die Spenden verwendet?</h1>
			<h1 class="dotted">....................................................................................................................................................................</h1>
			<p>Wir sind ein Sozialunternehmen mit dem Ziel, die Lernhilfe von Sch&uuml;lerInnen f&uuml;r Sch&uuml;lerInnen zu unterst&uuml;tzen und dabei die individuellen Talente von jungen Menschen zu f&ouml;rdern. Um dieses Ziel zu erreichen, brauchen wir Hilfe. Vor allem zum Start, um das System inkl. der online Plattform aufzubauen. Aus diesem Grund bitten wir alle Interessierten und F&ouml;rderer uns auch finanziell zu unterst&uuml;tzen, jeder Euro hilft und flie&szlig;t 1:1 in die Entwicklung von talentify. Konkret in:</p>
			<ol>
				<li>die laufende Weiterentwicklung und Verbesserung der online Plattform,</li>
				<li>die technologische Infrastruktur (Hosting) im Hintergrund sowie</li>
				<li>Ma&szlig;nahmen, um so viele Sch&uuml;lerInnen wie m&ouml;glich mit talentify zu erreichen</li>
			</ol>
			<p>Vielen Dank f&uuml;r die Unterst&uuml;tzung, nur gemeinsam k&ouml;nnen wir Zukunft bilden.</p>
		</article>
	</section>
	<section id="s-partner">
		<article>
			<h1>Ohne unsere Partner und Unterst&uuml;tzer w&uuml;rde es uns in dieser Form nicht geben. DANKE!</h1>
			<a href="http://www.slash.co.at" target="_blank"><img src="/Images/slash.jpg" alt="SLASH Creative Studio"/></a><a href="http://braenda.com" target="_blank"><img src="/Images/braenda.jpg" alt="Branding Agentur Wien"/></a><a href="http://www.youngenterprises.at" target="_blank"><img src="/Images/young-enterprises.jpg" alt="Young Enterprises Media"/></a><a href="http://www.schoenborngasse.vbs.ac.at" target="_blank"><img src="/Images/vbs-schoenborngasse.jpg" alt="VBS Schönborngasse"/></a><a href="http://socialimpactstart.eu" target="_blank"><img src="/Images/socialimpactstart.jpg" alt="http://socialimpactstart.eu"/></a><a href="http://vienna.impacthub.net" target="_blank"><img src="/Images/impacthub-vienna.jpg" alt="http://vienna.impacthub.net"/></a><a href="http://www.conversionfox.com" target="_blank"><img src="/Images/conversionfox.jpg" alt="Online Marketing Agentur Wien"/></a><a href="http://www.diestadtdrucker.at" target="_blank"><img src="/Images/stadtdrucker-logo.jpg" alt="Die Stadtdrucker"/></a><a href="http://www.lsvwien.at" target="_blank"><img src="/Images/lsvwien-logo.jpg" alt="LandesschülerInnenvertretung Wien"/></a>
		</article>
	</section>
	<section id="s-newsletter">
		<article>
			<div class="logo"><img src="/Images/logo.png" alt="talentify Zukunft bilden."/></div>
			<form>
				<h3>Hol dir jetzt den talentify Newsletter</h3>
				<input type="text" id="newsletter-email" placeholder="E-Mail Adresse"/>
				<a href="javascript:void(0);" onclick="submitNewsletter();">Newsletter anmelden</a>
			</form>
		</article>
	</section>
	<section id="s-contact">
		<article>
			<div class="imprint">
				<div class="zukunft-logo"><img src="/Images/zukunft-bilden.png" alt="Zukunft bilden."/></div>
				<div class="links">
					<a href="javascript:void(0);">Impressum</a>|<a href="javascript:void(0);">Datenschutzbestimmungen</a>|<a href="javascript:void(0);">AGB</a>|<a href="javascript:void(0);">F&uuml;r Unternehmen</a>
				</div>
				<div class="info">
					&copy; @DateTime.Now.Year by talentify - Zukunft bilden.<br/>c/o Impact HUB Vienna, Lindengasse 56/18-19, 1070 Wien
				</div>
			</div>
			<div class="follow">
				<h3>Folge und unterst&uuml;tze uns auf</h3>
				<div class="links">
					<a href="https://www.facebook.com/talentify.me" target="_blank"><img src="/Images/facebook.png" alt="facebook"/></a>
				</div>
			</div>
		</article>
	</section>
	
<script>
	(function (i, s, o, g, r, a, m)
	{
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function ()
		{
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-54475730-1', 'auto');
	ga('send', 'pageview');

</script>

</body>
</html>
