@inherits Talentify.ORM.Mvc.FormView<Talentify.ORM.FrontendLogic.Models.SearchParams>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomJavascript 
{
	<script>
		$(this).ready(function()
		{
			$('#Class').val('@Model.Class');
			searchCoaching();
		});
	</script>
}

<div id="page-container">
	<section id="search">
		<article>
			<header>
				<div class="bubble t-button desktop" id="bubble-search"></div>
				<h2>Lernhilfe finden</h2>
			</header>
			@using (Html.BeginForm("Index", "Search", FormMethod.Post, new {@class = "form-container search"}))
			{
				<div class="field-container">
					<select name="Class" id="Class" class="mandatory">
						<option value="">Schulstufe</option>
						<optgroup label="Volksschule">
							<option value="1">1. Klasse</option>
							<option value="2">2. Klasse</option>
							<option value="3">3. Klasse</option>
							<option value="4">4. Klasse</option>
						</optgroup>
						<optgroup label="Mittelschule (HS, NMS, Unterstufe)">
							<option value="5">1. Klasse</option>
							<option value="6">2. Klasse</option>
							<option value="7">3. Klasse</option>
							<option value="8">4. Klasse</option>
						</optgroup>
						<optgroup label="Höhere Schule (HTL, HAK, Oberstufe, ...)">
							<option value="9">1./5. Klasse</option>
							<option value="10">2./6. Klasse</option>
							<option value="11">3./7. Klasse</option>
							<option value="12">4./8. Klasse</option>
							<option value="13">5. Klasse</option>
						</optgroup>
					</select>
					@Html.DropDownListFor(m => m.SubjectCategoryId, AllCoachingSubjects, "Schulfach", new {@class = "mandatory"})
					<input type="button" value="Finden" onclick="searchCoaching();"/>
				</div>
			}
		</article>
	</section>
	<div id="search-loading">Lade Suchergebnisse ...</div>
	<section id="search-results"></section>
</div>