/* ---------------------------------------- About Page ---------------------------------------- */

/* ---------- Row header ---------- */
#headerbg {
		background: url("/Images/about_header.png"), #ffbe00;
		background-position: 55% bottom;
		background-repeat: no-repeat;
        position: fixed;
        z-index: 0;
        width: 100%;
}

#header {
	height: 480px;
	color: #fff3cd;
	text-align: left
}

#header h1 {
	margin: 90px 0 0 0;	
	text-align: left;
	position: relative;
	z-index:1 !important
}


#header img.mdlglogo {
	height: 55px;
	margin-top: 33px
}

#header img.logo {
	height: 44px;
	width: 200px;
	margin-top: 33px
}

#header a.menu {
    color: #fff;
    margin: 0 20px 0 20px;
    font-size: 18px;
}

#header a.menu:hover {
    color: #fff3cd;
    text-decoration: none;
}

#header a:hover {
    text-decoration: none
}

#header button {
    margin: 41px 0 8px 20px;
	padding: 5px 25px 5px 25px
}

.menu {
    margin-right: -20px;
    z-index: 1 !important
}
/* ---------- Row description ---------- */
#descriptionbg {
    background: #fff;
    position: relative;
    z-index: 1
}

#description  {
	margin: 480px auto 0 auto;
    padding: 90px 0 90px 0;
}

#description h3  {
	margin: 0 auto 0 auto
}

/* ---------- Row whatwedo ---------- */
#whatwedobg {
	background: #f0f0f2;
    position: relative;
    z-index: 1
}

#whatwedo {
	padding: 50px 0 50px 0
}

#whatwedo h3, #whatwedo p{
	margin: 0 auto;
    width: 270px;
	text-align: center;
}


/* ---------- Row howitstarted ---------- */
#howitstartedbg {
    background: #fff;
    position: relative;
    z-index: 1
}

#howitstarted {
	margin: 0 auto 0 auto;
    padding-top: 90px
}

#howitstarted p.sm, #howitstarted h2.sm{
	text-align: left !important;
	margin-left: 20px
}

#howitstarted img {
	height: 375px;
	margin-top: -25px
}

/* ---------- Row whyweexist ---------- */
#whyweexistbg {
	background: #e64461;
    position: relative;
    z-index: 1
}

#whyweexist {
	padding: 50px 0 50px 0;
	color: #fff;
	text-align: left
}

#whyweexist .numbers {
	font-size: 28px;
	margin-top: -5px;
	margin-left: 40px;
	
}

/* ---------- Row bepartofit ---------- */
#bepartofitbg {
	background: #fff;
    position: relative;
    z-index: 1
}


#bepartofit {
	margin: 0 auto 0 auto;
    padding: 90px 0 30px 0;
	text-align: left
}

#bepartofit.md, #bepartofit h3.md {
	text-align: center !important
}

#bepartofit .row{
	margin-bottom:60px
}

#bepartofit  h3{
	text-align: left
}

#bepartofit .redbutton {
	margin:20px 0 20px 0;
	font-size: 10px;
	width: 300px
}

#bepartofit a:active, #bepartofit a:visited, 
#bepartofit a:hover {
	text-decoration: none
}

/* ---------- Row ourteam ---------- */
#ourteambg {
	background: #f0f0f2;
    position: relative;
    z-index: 1
}

#ourteambig {
	padding: 50px 0 50px 0
}

#ourteambig img {
	width: 140px; 
	height: 140px
}

#ourteambig h3 .right{ 
	text-align: right
}

#ourteambig h3 .left{ 
	text-align: left
}

#ourteambig a {
	color: #394d63;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400
}

#ourteambig a:hover {
	text-decoration: underline
}

#ourteambig .va {
	margin-top: 15px
}

#ourteambig .right {
	text-align: right 
}

#ourteambig .left {
	text-align: left 
}

/* ---------- Row ourpartner ---------- */
#ourpartnerbg {
    background: #fff;
    position: relative;
    z-index: 1
}

#ourpartner {
	margin: 0 auto 0 auto;
    padding: 90px 0 90px 0
}

#ourpartner img {
	width: 220px;
	margin-bottom: 30px
}

#ourpartner h2 {
	margin: 20px 0 60px 0
}

#ourpartner h3 {
	margin: 0 0 20px 0
	
}

/* ---------- Row yourinformation ---------- */
#yourinformationbg {
	background: #00a77f;
    position: relative;
    z-index: 1
}

#yourinformation {
	color: #c9f0e7;
	padding: 50px 0 50px 0
}

#yourinformation p {
	margin: 0 0 60px 0;
	font-size: 22px;
}

#yourinformation button, #yourinformation input {
	height: 45px;
	width: 240px;
}

#yourinformation button {
	font-weight: 700
}

#yourinformation button:hover, #yourinformation a:hover{
	font-size: 18px;
	font-weight: 700;
	color: #00a77f
}

#yourinformation input{
	font-size: 18px;
	margin-left: 50px
}
#yourinformation button{
	margin-left: -50px
}

/* ---------- Tablet ---------- */

@media (min-width: 768px) and (max-width: 991px) { 
	/* --- Row header --- */
	#header img.kids {
		margin-left: -119px;
		margin-top: -19px;
		position: relative;
		vertical-align: bottom;
		z-index:0 !important
	}	

    #header a.menu {
        margin: 0 15px 0 15px;
        font-size: 16px;
    }

    .menu {
        margin-right: 0
    }
	
	/* --- Row bepartofit --- */
	
	#howitstarted h2, #howistarted p {
		margin-top: 30px;
	}
	
	/* --- Row bepartofit --- */
	
	#bepartofit img.heft {
		width: 86px;
		margin-bottom: 0
	}
	
	#bepartofit img.teacher {
		width: 86px;
		margin-top: 60px
	}	
	
	#bepartofit img.business {
		width: 86px;
		margin-top: 60px
	}	
	
	#bepartofit a, #bepartofit a:active, 
	#bepartofit a:visited, #bepartofit a:hover {
		text-decoration: none
	}
	
	/* --- Row ourteam --- */
	#ourteam .img-circle {
		height: 100%;
		width: 100%;
		margin-top: -10px;
		margin-bottom: 60px
	}
		
	/* --- Row yourinformation --- */
	#yourinformation input, #yourinformation.input-group {
		width: 240px
	}
	
	/* --- Row footer --- */
	#footer {
		margin-bottom: 90px
	}
}

/* ---------- Mobile ---------- */
@media (max-width: 768px) {
	#mobilemenu {background: #ffbe00; }
	/* --- Row mobileheader --- */
	#mobileheaderbg {
		background: url("/Images/about_mobileheader.png"), #ffbe00;
		background-position: 50% 100%;
		background-repeat: no-repeat
	}
	
	#mobileheader {
		text-align: left;
		padding: 15px 0 30px 0
	}
	
	#mobileheader img.logo {
		height: 44px
	}
	
	#mobileheader img.menu{
		float: right;
		margin-top: 5px;
        margin-right: 0;
		height: 22px
	}	
	#mobileheader h1 {
		margin: 45px 0 135px 0;
		font-size: 28px
	}
	
	#mobileheader button.redbutton {
		height: 45px;
		font-size: 18px;
		width: 100%
	}

	/* --- Row description --- */
	#description {
		margin: 45px auto 45px auto
	}
	
	#description h3 {
		font-family: 'Lato', san-serif;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.15;
		margin: 0
	}
	
	/* --- Row whatwedo --- */
	#whatwedo {
		margin: 30px auto 30px auto
	}

	#whatwedo h3 {
		margin: 0 auto;
		max-width: 270px;
	}
	
	#whatwedo p {
		width: 270px;
		margin: 22px auto 0 auto;
		font-size: 16px
	}
	
	/* --- Row howitstarted --- */
	#howitstarted {
		margin: 30px auto -15px auto
	}
	
	#howitstarted img {
		margin: 15px 0 15px 0;
		width: 290px;
		height: 305px
	}	
		
	#howitstarted h2 {
		font-size: 28px;
		margin-bottom: 15px
	}	
	
	#howitstarted p {
		font-size: 16px;
		margin-bottom: 15px
	}	
			
	/* --- Row whyweexist --- */
	#whyweexist {
		padding: 30px 0 20px 0
	}
	
	#whyweexist h2 {
		font-size: 28px;
		margin-bottom: 15px
	}	
	
	#whyweexist p {
		font-size: 16px;
		margin-bottom: 45px
	}	
	
	/* --- Row bepartofit --- */
	#bepartofit {
		margin: 30px auto -30px auto
	}
	
	#bepartofit .row {
		margin: 0
	}
	
	#bepartofit img {
		margin: 30px auto 15px auto;
	}	
		
	#bepartofit h2 {
		font-size: 22px;
		margin-top: 15px
	}	
		
	#bepartofit h3 {
		font-size: 20px;
		text-align: center;
		margin-top: 0px
	}	
	#bepartofit p {
		text-align: center;
		font-size: 16px
	}	
	
	#bepartofit button.redbutton {
		width: 100%
	}	
	
	/* --- Row ourteam --- */

	#ourteamsmall {
		margin-top: 60px;
		padding: 45px 0 30px 0
	}
	
	#ourteamsmall h2 {
		font-size: 20px;
		padding: 0 10px 0 10px
	}
	
	#ourteamsmall p {
		font-size: 16px;
		margin: 0;
		padding: 0
	}	
	
	#ourteamsmall img {
		margin: 30px 0 5px 0;
		width: 145px;
		height: 145px
	}	
	
	#ourteamsmall a {
	    color: #394d63;
	    text-decoration: none;
	    font-size: 18px;
	    font-weight: 400
    }

	#ourteamsmall a:hover {
	    text-decoration: underline;
    }
	
	/* --- Row ourpartner --- */
	#ourpartner {
		margin: 30px auto 30px auto
	}
	
	#ourpartner p {
		font-size: 16px
	}

	#ourpartner h3#dots {
		margin-left: 30px;
		margin-right: 30px;
	}
	
	/* --- Row yourinformation --- */
	#yourinformation {
		padding: 30px 0 30px 0
	}	
	
	
	#yourinformation h1 {
		font-size: 38px
	}
	
	#yourinformation p {
		font-size: 16px
	}

	#yourinformation  input, #yourinformation .input-group {
		margin: 0;
		margin-bottom: 5px;
		text-align: center;
		width: 100%
	}

	#yourinformation a.buttonlink {
		width: 100%
	}
	
	#yourinformation button.greenbutton_header {
		margin: 0;
		width: 100%
	}

	#yourregistry {
		margin: 90px 0 30px 0
	}		
}


/* ---------- Custom ---------- */
@media (max-width: 767px) {
 	
	#whatwedo h3 {
		text-align: center;
		margin: 0 auto;
	}
	
	#yourregistry {
		margin: 30px 0 30px 0
	}		
}
/* ---------------------------------------- End About Page ---------------------------------------- */
