.sprite {
  background-image: url(../Images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 93px;
  width: 99px; }

.t-button {
  background-position: 0px 0px; }

.green .t-button {
  background-position: -99px 0px; }
