// variables
$font-normal: CaeciliaLTPro-55Roman;
$font-bold: CaeciliaLTPro-85Heavy;
$font-italic: CaeciliaLTPro-56Italic;
$font-form: Lucida Grande, Tahoma;
$color-form: #616e76;
$color-shadow: #c3c3c3;
$color-green: #0eb48d;
$color-blue: #183343;
$color-border: #e5e5e5;
$color-red: #ef4d69;

// mixins
@mixin shadow($color, $with) 
{
	-moz-box-shadow: 0 0 $with $color;
	-webkit-box-shadow: 0 0 $with $color;
	box-shadow: 0 0 $with $color;
}

@mixin menu-shadow($color, $with) 
{
	-moz-box-shadow: 0 0 $with $color;
	-webkit-box-shadow: 0 0 $with $color;
	box-shadow: 0 2px 2px $color;
}

// base
.box-sizing
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

// html defaults
* 
{
	font-family: $font-normal;
	font-weight: normal;
	font-style: normal;
}

html, body 
{
	height: 100%;
}

body
{
	padding: 0;
	margin: 0;
	color: #555;
	font-size: 20px;
}

h1, h2, h3, h4, h5
{
	font-family: $font-bold;
	padding: 0;
	margin: 0;
	text-align: center;
}

h2 { font-size: 32px; color: #ef4d69; }
.green
{
	h2 { color: $color-green; }
}

a 
{ 
	//text-decoration: none; 
	color: #0eb48d;
	img { border: 0px; }
}
a:hover
{
	color: #167e64;
}

textarea, select, input, .link-button
{
	font-family: $font-form;
}

textarea:focus, input:focus { outline: 0; }
input, select {fonts-ize: 20px; color: $color-form; }
input[type="button"], input[type="submit"], .link-button
{
	background: #0eb48d;
	color: #FFF;
	border: 1px solid #0eb48d;
	//font-family: $font-bold;
	font-weight: bold;
	font-size: 20px;
	padding: 8px 90px;
	border-radius: 0;
	text-decoration: none;
	cursor: pointer;
}
input[type="button"]:disabled, input[type="submit"]:disabled, .link-button:disabled, input[type="button"].disabled, input[type="submit"].disabled, .link-button.disabled
{
	background: #ccc !important;
	cursor: wait !important;
}
input[type="button"].red, input[type="submit"].red, .link-button.red
{
	background: #fef3f5;
	color: #ef4d69 !important;
	border: 1px solid #ef4d69 !important;
	border-bottom: 1px solid #ef4d69 !important;
}
input[type="button"]:hover, input[type="submit"]:hover, .link-button:hover
{
	background: #167e64;
	color: #FFF;
}
input[type="button"].red:hover, input[type="submit"].red:hover, .link-button.red:hover
{
	background: #f3d1d7;
	color: #FFF;
}
input[type="button"]:active, input[type="submit"]:active, .link-button:active
{
	background: #0eb48d;
	border: 1px solid #167e64;
	color: #167e64;
}

iframe
{
	width: 100%;
	border: 0px;
}

.input-switch
{
	display: inline-block;
	position: relative;
	width: 110px;
	background: #1abc9c;
	border: 1px solid #394264;
	color: #fff;
	cursor: pointer;
	height: 30px;
	.switch-link
	{
		display: inline-block;
		width: 110px;
		height: 30px;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
	}
	.option
	{
		@extend .box-sizing;
		width: 50%;
		text-align: center;
		background: #394264;
		position: absolute;
		z-index: 2;
		top: 0;
		display: none;
		height: 30px;
		padding: 6px 0 0 0;
	}
	.on { left: 0;  }
	.off { right: 0; }
}
.input-switch.on
{
	.on { display: inline-block; cursor: default; }
}
.input-switch.off
{
	.off { display: inline-block; cursor: default; }
}
.input-switch.disabled
{
	cursor: default;
}
.input-switch-feedback
{
	display: inline-block;
	background: #f1f1f1;
	height: 25px;
	padding: 5px 10px 0 10px;
	vertical-align: top;
	font-size: 14px;
	margin: 0 0 0 10px;
	display: none;
}
#add-subject
{
	display: inline-block;
	margin: 10px 0 10px 0;
	display: none;
}
#add-subject-msg
{
	font-size: 15px;
	display: none;
}
#add-subject-link { width: 15px; }
#add-subject-button:disabled { cursor: default; background: #CCC; }

.password-form
{
	margin: 20px 0 20px 0;
}

.delete-form
{
	margin: 20px 0 20px 0;
	p
	{
		font-size: 16px;
	}
}

.form-container
{
	font-size: 20px;
	color: $color-form;
	width: 540px;
	text-align: center;
	margin: auto;
	input, select, textarea
	{
		width: 518px;
		border-top: 1px solid #e3e4e8;
		border-left: 1px solid #e3e4e8;
		border-right: 1px solid #e3e4e8;
		border-bottom: 0px;
		color: #555;
		margin: 0;
		padding: 5px 10px;
		font-size: 16px;
	}
	input[type="submit"] { width: 542px; }
	select { width: 540px; }
	input[type="button"], input[type="submit"], .link-button   { border: 0px;color: #FFF; }
	.field-container
	{
		text-align: center;
		input:last-of-type, select:last-of-type { border-bottom: 1px solid #e3e4e8; }
		margin-bottom: 30px;
		position: relative;
		.add-field
		{
			position: absolute;
			top: 0;
			right: -45px;
			a
			{
				font-family: $font-form;
				font-weight: bold;
				color: #fff;
				background: $color-green;
				padding: 4px 10px;
				text-decoration: none;
				display: inline-block;
			}
			a:hover
			{
				background: #167e64;
			}
		}
		h4
		{
			margin: 0 0 10px 0;
		}
	}
	.border-bottom
	{
		border-bottom: 1px solid #e3e4e8 !important;
	}
}
.filter-container
{
	display: inline-block;
	width: 100%;
	padding: 20px 20px 0 20px;
	@extend .box-sizing;
	text-align: left !important;
	label { font-size: 14px; display: inline-block; margin: 0 10px 0 0; font-family: $font-bold; color: #999; }
	a
	{
		font-size: 16px;
		display: inline-block;
		margin: 0 5px 0 0;
		padding: 3px 10px;
		text-decoration: none;
		border: 1px solid #fff;
	}
	a:hover { border: 1px solid $color-green; }
	a.on
	{
		background: $color-green;
		color: #fff;
	}
}
#no-filter-results { display: none; }
#no-school-info, #register-code-info
{
	font-size: 14px;
	display: inline-block;
}
input.error, select.error, textarea.error
{
	background: #f7a6b4;
	color: #fff;
}
.error::-webkit-input-placeholder { color: #fff; }
.error:-moz-placeholder { color: #fff; opacity:  1; }
.error::-moz-placeholder { color: #fff; opacity:  1; }
.error:-ms-input-placeholder { color: #fff; }
input[type="text"].mandatory, input[type="password"].mandatory
{
	background-image: url(/Images/mandatory.png);
	background-repeat: no-repeat;
	background-position: 98% 8px;
}
.form-container.register 
{ 
	header
	{
		margin-bottom: 10px !important; 
	}
	.header-label { font-size: 16px; display: inline-block; width: 100%; text-align: center; margin: 0 0 10px 0; }
	.textboxlist-autocomplete { z-index: 999999; }
	.datepicker
	{
		text-align: right;
		label
		{
			font-size: 16px;
			margin: 0 22px 0 12px;
			padding: 0;
			color: #555;
		}
		select 
		{ 
			width: 129px; 
			margin: 0 0px 0 0;
			border-right: 0px;
			border-top: 0px;
			border-bottom: 1px solid #e3e4e8;
		}
		select:last-of-type
		{
			margin: 0;
			border-right: 1px solid #e3e4e8;
		}
	}
	.bundesland { width: 140px; float:left; margin-right:10px; height: 35px; }
	//.schule { width: 368px; float:left; border-bottom: 1px solid #e3e4e8; margin-left: 10px;  }
}
#add-school { font-size: 16px; display: inline-block; width: 100%; margin: 10px 0; }
#register-form
{
	label { font-size: 16px; display: inline-block;  width: auto; }
	input[type="radio"] {  width: auto; display: inline-block; margin: 0 10px 0 10px; }
}
.form-container.search, .form-container.coaching-center-filter
{
	margin-top: 20px;
	width: 98%;
	border: 1px solid #c3c3c3;
	@include shadow($color-shadow, 5px);
	input, select { width: 31%; border: 1px solid #e3e4e8; }
	.checkbox-container
	{
		@extend .box-sizing;
		display: inline-block;
		width: 94%;
		padding: 7px 0 0 3px;
		text-align: left;
		
		input[type="checkbox"]
		{
			width: auto;
		}
		label { font-size: 16px; margin-left: 5px; }
	}
	.field-container { margin: 10px; }
	background: #fff;
}
.form-container.coaching-center-filter
{
	margin: 20px 0 50px 0;
	label, select
	{
		margin: 0 20px 0 0;
	}
}
.form-container.price
{
	label
	{
		width: auto !important;
	}
	input[type="checkbox"], select
	{
		margin: 0 10px 0 10px;
		width: auto !important;
	}
	select.disabled
	{
		background: #e6e6e6;
	}
}
.form-container.search-school
{
	@extend .box-sizing;
	input[type="button"] { @extend .box-sizing; width: 540px; }
	.loading-message { @extend .box-sizing; width: auto; display: none; }
}
.school-search-item-container
{
	display: inline-block;
	margin: 20px auto;
	width: 70%;
	padding: 0 85px;
	max-height: 250px;
	overflow: auto;
	.item
	{
		display: block;
		margin: 0 0 5px 0;
		.fa { margin: 0 10px 0 0; display: inline-block; }
	}
}

.checkbox-list 
{ 
	text-align: left;
	ul
	{
		margin: 0px; 
		padding: 0px; 
		padding-left: 10px;
		font-size: 16px;
		width: 100%;
		display: inline-block;
		li 
		{ 
			input { width: auto !important; margin: 0 10px 0 0; }
			label { width: auto !important; }
			display: block;
			margin: 0 20px 0 0;
			float: left; 
			list-style-type: none; 
			padding: 0 0 4px 0; 
		}
	}
}

#register
{
	header
	{
		margin-bottom: 20px;
	}
}

#confirm-option-container
{
	display: inline-block;
	width: 100%;
	@extend .box-sizing;
	padding: 0 0 50px 0;
	h3 { margin: 0 0 50px 0; }
	.option
	{
		cursor: pointer;
		display: inline-block;
		float: left;
		width: 33%;
		text-align: center;
		img { display: block; margin: 0 auto 10px auto; }
		a { text-decoration: none; }
	}
	.option.on, .option:hover
	{
		a { color: #1e7d64; }
	}
}
.opt-form
{
	display: none;
	span.info { font-size: 16px; display: inline-block; margin: 5px 0 0 0; }
	span.info.large { font-size: 16px; }
}

#page-header
{
	width: 100%;
	height: 55px;
	position: fixed;
	z-index: 99;
	background: #183343;
	text-align: center;
	padding: 10px 0 0 0;
	.content
	{
		@extend .box-sizing;
		padding: 0 10px;
		max-width: 1105px; 
		width: 100%;
		display: inline-block;
		margin: auto; 
		text-align: center;
		h1
		{
			float: left;
		}
		.logged-logo-container
		{
			position: relative;
			float: left;
			.main-menu
			{
				float: left;
				margin: 10px 15px 0 0;

				.nav-menu
				{
					width: 200px;
					left: 0;
					top: 49px;
					.arrow
					{
						left: 10px;
						top: -6px;
					}
				}
			}
		}
		.login
		{
			float: right;
			margin: 6px 0 0 0;
			input[type="text"], input[type="password"]
			{
				padding: 5px 10px;
				font-size: 16px;
				width: 150px;
				margin: 0 5px 0 0;
			}
			input[type="button"], input[type="submit"], .link-button
			{
				padding: 5px 15px;
				font-size: 16px;
			}
		}
		.logged-container
		{
			float: right;
			margin: 5px 0 0 0;
			ul
			{
				margin: 0;
				padding: 0;
				li
				{	
					display: inline-block;
					margin: 0;
					padding: 0 8px 0 8px;
					height: 36px;
					border-right: 1px solid #304856;
					float: left;
					position: relative;
					img
					{
						float: left;
						vertical-align: middle;
					}
				}
				li.profile-img
				{
					a
					{
						display: inline-block;
						width: 35px;
						height: 35px;
						background-repeat: no-repeat;
					}
				}
				li.notifications
				{
					img { margin: 8px 0 0 0; }
					.nav-menu
					{
						width: 300px;
						left: -260px;
					}
				}
				li.settings
				{
					border-right: 0;
					img { margin: 6px 0 0 0; }
					.nav-menu
					{
						width: 200px;
						left: -163px;
					}
				}
			}
		}
	}
}
#notification-link
{
	position: relative;
}
#notification-count
{
	display: none;
	@extend .box-sizing;
	position: absolute;
	top: -5px;
	right: 0px;
	width: 20px;
	height: 20px;
	background: $color-green;
	color: #fff;
	text-align: center;
	border-radius: 120px;
	font-size: 11px;
	padding: 3px 0 0 0;
	z-index: 10000;
}
#notification-list-loading
{
	@extend .box-sizing;
	padding: 2px 30px;
	font-size: 14px;
	text-align: left;
	width: 100%;
	background: $color-green;
	color: #fff;
	margin: 0 0 10px 0;
}
#notification-list, .all-notifications
{
	@extend .box-sizing;
	width: 100%;
	display: inline-block;
	margin: 0 0 20px 0;
	.item
	{
		@extend .box-sizing;
		width: 100%;
		background-color: #e6f7f3;
		background-repeat: no-repeat;
		background-position: right 5px top 5px;
		font-size: 16px;
		padding: 5px;
		float: left;
		cursor: pointer;
		border-bottom: 1px solid $color-border;
		.image-link
		{
			background-repeat: no-repeat !important;
			width: 35px;
			height: 35px;
			float: left;
			margin: 0 10px 0 0;
			padding: 0 !important;
		}
		.text
		{
			float: left;
			text-align: left;
			width: 200px;
			font-size: 14px;
			.system
			{
				float: left;
				margin: 0 0 0 0;
			}
		}
		.bonus
		{
			float: right;
			background: $color-red;
			color: #fff;
			padding: 8px 4px;
			width: 35px;
			text-align: center;
			@extend .box-sizing;
			font-size: 15px;
		}
	}
	.item:hover
	{
		color: #fff;
		background-color: $color-green;
		background-repeat: no-repeat;
		background-position: right 5px top 5px;
	}
}
.all-notifications
{
	.date 
	{
		@extend .box-sizing;
		padding: 5px 5px;
		font-size: 16px;
		font-family: $font-bold;
		margin: 20px 0 0 0;
		display: inline-block;
		width: 100%;
		background: $color-green;
		color: #fff;
	}
	.item
	{
		background-color: #fff;
		.text { width: auto; }
	}
	.item:hover { background-color: #e6f7f3; color: #555; }
}

.nav-menu
{
	@include menu-shadow($color-shadow, 5px);
	@extend .box-sizing;
	background: #fff;
	border: 1px solid $color-border;
	border-radius: 3px;
	position: absolute;
	top: 42px;
	left: 0;
	display: none;
	padding: 5px 0;
	.arrow
	{
		position: absolute;
		right: 10px;
		top: -6px;
		width: 13px;
		height: 6px;
		background: url(../Images/nav-menu-arrow.png);
		background-repeat: no-repeat;
	}
	a
	{
		@extend .box-sizing;
		width: 100%;
		display: inline-block;
		padding: 2px 30px;
		text-decoration: none;
		font-size: 15px;
		text-align: left;
	}
	a:hover
	{
		background: $color-green;
		color: #fff;
	}
}

#page-footer
{
	max-width: 1105px; 
	width: 100%; 
	margin: auto; 
	text-align: center;
	.invite
	{
		@extend .box-sizing;
		margin: 50px 0 0 0;
		padding: 10px !important;
		width: 100%;
		background: $color-green;
		color: #fff;
		display: inline-block;
		.social-list
		{
			display: inline-block;
			span
			{
				float: left;
				font-family: $font-bold;
				margin: 7px 20px 0 0;
			}
			a { margin: 0 10px 0 0; display: inline-block; }
		}
	}
	.container
	{
		width: 100%;
		padding: 30px 0;
		nav
		{
			border-top: 1px solid #e7eaec;
			width: 100%;
			display: inline-block;
			padding: 10px 0 0 0;
			margin: 10px 0 0 0;
			ul
			{
				margin: 0;
				padding: 0;
				li
				{
					display: inline-block;
					font-size: 18px;
					margin-right: 20px;
					color: $color-blue;
					a
					{
						color: $color-blue;
					}
					a:hover { text-decoration: underline; }
				}
			}
		}
	}
}

#page-container
{
	@extend .box-sizing;
	z-index: 1;
	max-width: 1105px;
	width: 100%;
	margin: auto; 
	text-align: center;
	padding-top: 85px;
	background: tranparent;
	section
	{ 
		height: 100%;
		display: inline-block; 
		width: 100%;
		position: relative;
		h1
		{
			span
			{
				display: inline-block;
				margin-bottom: 2px;
				font-family: $font-italic;
				//background: #ef4d69;
				color: $color-blue;
				font-size: 32px;
				padding: 5px 10px;
			}
			margin: 0 0 50px 0;
		}
		article
		{
			text-align: left;
			header 
			{
				text-align: center;
				margin: 0 0 10px 0;
			}
			p { text-align: center; }
			footer { text-align: center; }
		}
	}
}

header
{
	.bubble
	{
		background-repeat: no-repeat;
		display: inline-block;
		height: 95px;
		width: 101px;
	}
}
#bubble-register { background: url(../Images/bubble-anmelden.png); }
#bubble-events { background: url(../Images/bubble-events.png); }
#bubble-notifications { background: url(../Images/bubble-notifications.png); }
#bubble-first-login { background: url(../Images/bubble-reg-abgeschlossen.png); }
#bubble-search { background: url(../Images/bubble-search.png); }
#bubble-settings { background: url(../Images/bubble-settings.png); }

#first-login-info-left
{
	position: absolute;
	top: -60px;
	left: -45px;
	width: 200px;
	font-size: 14px;
	img { display: inline-block; margin: 0 10px 0 0; }
	span { display: inline-block; width: 100%; margin: 10px 0 0 0; }
}
#first-login-info-right
{
	position: absolute;
	top: -60px;
	right: -15px;
	width: 200px;
	font-size: 14px;
	img { display: inline-block; margin: 0 10px 0 0; }
	span { display: inline-block; width: 100%; margin: 10px 0 0 0; }
}
.first-login
{
	margin: 50px 0 0 0;
}

.premium-container
{
	display: inline-block;
	margin: 0 auto;
	img { float: left; margin: 0 20px 0 0;}
	a { text-align: left; display: inline-block; margin: 15px 0 0 0; }
}

section.premium-link
{
	margin: 20px 0 0 0;
	article { text-align: center; }
	.premium-container
	{
		margin: 20px 0 0 0;
		a { margin: 30px 0 0 0; }
	}
}

#page-container.full-width
{
	max-width: 100% !important;
	//min-width: 900px;
	h1
	{
		span
		{
			display: inline-block;
			margin-bottom: 2px;
			font-family: $font-italic;
			color: $color-blue;
			font-size: 32px;
			padding: 5px 10px;
		}
		margin: 0 0 20px 0;
	}
	section
	{
		text-align: center;
		margin: auto !important;
		display: inline-block;
		article
		{
			@extend .box-sizing;
			text-align: center;
			max-width: 1105px; 
			width: 100%;
			display: inline-block;
			height: 200px;
		}
	}
	.big-bg, .big-bg-events
	{
		text-align: center;
		margin: auto;
		position: relative;
		display: inline-block;
		width: 100%;
		p
		{
			margin: 0;
			padding: 6% 0 30px 0;
			color: #fff;
			font-family: $font-bold;
			font-size: 6vw;
			text-shadow: 2px 2px 15px #414141;
		}
		span.small
		{
			font-size: 2vw;
			color: #fff;
			text-shadow: 2px 2px 15px #414141;
		}
		.label
		{
			@extend .box-sizing;
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 10px 0;
			display: inline-block;
			text-align: center;			
			background: rgba(255,255,255,0.7);
			color: #ef4d69;
			width: 100%;
			max-width: 1105px;
			font-size: 2.2vw;
			font-family: $font-bold;
		}
	}
	.register-link-container
	{
		display: inline-block;
		margin: 20px 0 0 0;
		font-size: 25px;
	}
}
#bg1
{
	background: url(../Images/illu.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#bg2
{
	background: url(../Images/illu2.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#bg3
{
	//background: url(../Images/illu3.jpg);
	background: $color-green;
	background-repeat: no-repeat;
	background-size: 100% auto;
}
#fact3
{
	article
	{
		margin: 20px 0 0 0;
		height: 100px !important;
		min-height: 100px !important;
	}
}
#home-events
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	margin: 20px 0 20px 0;
	.item
	{
		@extend .box-sizing;
		display: inline-block;
		margin: 10px;
		position: relative;
		.details
		{
			@extend .box-sizing;
			position: absolute;
			top: 0;
			left: 0;
			height: 200px;
			width: 355px;
			padding: 10px;
			background: rgba(255,255,255,0.9);
			cursor: pointer;
			display: none;
			p 
			{ 
				text-shadow: none;
				color: #555;
				font-family: $font-normal;
				font-size: 14px; 
			}
			.date 
			{ 
				margin: 10px 0; 
				padding: 0; 
			}
		}
	}
}

.home
{
	h1 { margin: 0 0 160px 0; }
	article
	{
		height: 100%;
		padding: 0 20px;
		p { font-size: 30px; padding: 0; margin: 0 0 10px 0; }
		footer
		{
			margin: 160px 0 0 0;
			input[type="button"], input[type="submit"], .link-button { width: 60%; }
		}
		min-height: 200px !important;
	}
}
.home.teaser
{
	article
	{
		display: inline-block;
		width: auto !important;
		height: auto;
		margin: 10px 10px 50px 10px;
		padding: 0;
		vertical-align: top;
		h3 
		{ 
			font-family: $font-normal;
			font-size: 18px;
			margin: 0 0 5px 0;
		}
	}
	article:last-of-type
	{
		margin-right: 0 !important;
	}
}

#home-nav
{
	position: fixed;
	top: 300px;
	right: 70px;
	width: 25px;
	z-index: 100;
	margin: 0 10px 0 0;
	ul
	{
		li
		{
			display: inline-block;
			a
			{
				display: inline-block;
				width: 25px;
				height: 25px;
				border: 1px solid $color-red;
				border-radius: 120px;
				background: #fff;
				span
				{
					display: none;
				}
			}
			a.selected, a:hover
			{
				background: $color-red;
			}
		}
	}
}
@media all and (max-width: 1000px)
{
	#home-nav 
	{ 
		right: 50px;
		ul
		{
			li
			{
				a
				{
					width: 18px;
					height: 18px;
				}
			}
		}
	}
}
#search { margin: 0 0 30px 0; }
#start-search
{
	margin: 250px 0 30px 0;
	position: relative;
	background: transparent;
	article
	{
		p
		{
			margin: 50px 0 0 0;
		}
	}
}
.search-map-overlay
{
	z-index: 10;
	position: absolute;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
header.search-map-overlay
{
	top: 220px;
}
.search-map-container
{
	position: absolute;
	top: 65px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 475px;
	opacity: 0.75;
	z-index: 0;
}
.map-school-info
{
	min-width: 500px;
	padding: 10px;
	h2
	{
		font-size: 20px;
		text-align: left;
		margin: 0 0 10px 0;
		color: $color-green;
	}
	p
	{
		padding: 0;
		margin: 3px 0 0 0;
	}
}

#search-results
{
	width: 98% !important;
	margin: 0px 0 0 0;
	text-align: left;
	header
	{
		width: 100%;
		height: 35px;
		background-image: url(../Images/search-result-header.png);
		background-position: center;
		margin: 0 0 30px 0;
	}
	article
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		//float: left;
		display: inline-block;
		width: 49%;
		margin: 0px 0 20px 0;
		padding: 10px;
		img { float: left; margin-right: 10px; }
		cursor: pointer;
		vertical-align: top;
		.image-link
		{
			background-repeat: no-repeat;
			width: 105px;
			height: 105px;
			float: left;
			margin: 0 10px 0 0;
		}
		h3, a { color: $color-green; font-size: 18px; text-align: left; font-family: $font-bold; text-decoration: none; }
		p 
		{ 
			margin: 0; 
			padding: 0; 
			text-align: left !important; 
			font-size: 14px;
		}
		.comments
		{
			margin: 10px 0 0 0;
		}
	}
	article:nth-child(odd)
	{
		//float: right !important;
	}
	article:hover
	{
		background: #e6f7f3;
	}
}

.two-col-container
{
	.col-container
	{
		@extend .box-sizing;
		width: 50%;
		float: left;
		padding: 0 10px 0 0;
		article
		{
			@extend .box-sizing;
			@include shadow($color-shadow, 5px);
			width: 100%;
			margin: 10px 0 10px 0 !important;
			padding: 10px;
			float: left;
			h3 { font-size: 18px; }
			font-size: 18px;
		}
		article.stream-item
		{
			font-size: 16px;
			cursor: pointer;
			.image-link
			{
				background-repeat: no-repeat;
				//background-size: 100% auto;
				width: 35px;
				height: 35px;
				float: left;
				margin: 0 10px 0 0;
			}
			p 
			{ 
				text-align: left !important; 
				margin: 0 0 0px 0;
				float: left;
				width: 89%;
				.date
				{
					font-size: 12px;
					color: #ccc;
					float: left;
					margin: 0px 0 0 0;
					padding: 0;
					height: 12px;
					width: 100%;
				}
				.text
				{
					float: left;
				}
			}
			.icon { float: left; margin: 0 10px 0 0; }
		}
		article.stream-item:hover
		{
			background: #e6f7f3;
		}
		article + a
		{
			display: inline-block;
			margin: 20px 0 30px 0 !important;
		}
	}
	.col-container:last-child {	padding: 0 0 0 10px; }
}

#stream-container-load-more
{
	display: none;
	width: 100%;
	margin: 10px 0 0 0;
	.link-button
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
	}
}

article.event-preview
{
	position: relative;
	cursor: pointer;
	h3 { text-align: left; }
	p { text-align: left !important; margin: 10 0 10px 0; }
	img { float: left; margin: 0 10px 0 0; }
	.register-icon { display: none; }
}
article.event-preview:hover, article.event-preview.past:hover
{
	background: #e6f7f3;
}
article.event-preview.past
{
	background: #effdfa;
	color: #999;
	.prev-img { opacity: 0.7; }
}
article.event-preview.registered
{
	.register-icon 
	{ 
		position: absolute;
		display: inline-block;
		top: 10px;
		left: 10px;
		z-index: 10;
		opacity: 1.0 !important;
	}
}

article.event-detail
{
	header { margin-bottom: 30px !important; }
	.content-container
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		display: inline-block;
		width: 100%;
		padding: 10px;

		.left
		{
			@extend .box-sizing;
			display: inline-block;
			width: 730px;
			.header
			{
				background: url(../Images/bg-content-headline.png);
				background-repeat: no-repeat;
				background-position: top left;
				min-height: 88px;
				display: inline-block;
				width: 100%;
				margin: 0 0 20px 0 !important;
				h1
				{
					text-align: left;
					padding: 0 0 0 100px !important;
					color: #707070;
					font-size: 30px;
					margin: 0 !important;
					line-height: 32px;		
				}
				.event-type
				{
					display: inline-block;
					padding: 0 0 0 100px;
					width: 100%;
					font-size: 15px;
				}
			}
			.content
			{
				@extend .box-sizing;
				text-align: left;
				padding: 0 10px 0 0;
				h4 
				{ 
					text-align: left;
					margin: 10px 0 0 0;
				}
				p
				{
					text-align: left !important;
					font-size: 18px;
				}
				border-right: 1px solid $color-border;
			}
		}
		.right
		{
			@extend .box-sizing;
			display: inline-block;
			width: 349px;
			vertical-align: top;
			padding: 10px;
			.link-button
			{
				display: inline-block;
				padding: 8px 0;
				width: 100%;
				text-align: center;
				font-size: 16px;
			}
			.link-button.red
			{
				margin: 5px 0 11px 0;
			}
			span.link-button { cursor: default !important; }
			.cost-info-container
			{
				display: inline-block;
				width: 100%;
				text-align: center;
				font-size: 16px;
				margin: 6px 0 30px 0;
				i { margin-right: 5px; color: $color-green; }
				.bonus-cost
				{
					display: inline-block;
					margin: 0 auto;
					text-align: center;
					//float: left;
				}
				.divider
				{
					display: inline-block;
					margin: 0 auto;
					text-align: center;
					color: $color-red;
				}
				.money-cost
				{
					float: right;
				}
			}
			.map-container
			{
				margin: 0px 0 20px 0;
				display: inline-block;
				width: 334px;
				height: 334px;
			}
			.address, .time
			{
				line-height: 30px;
				span.important { color: #555; }
				display: inline-block;
				width: 100%;
				.left 
				{ 
					i { font-size: 30px; color: $color-green; }
					float: left; 
					width: 10%;
					margin: 3px 0 0 0;
				}
				.right { float: right; width: 90%; padding: 0 0 0 10px; color: #999 !important; font-size: 18px; line-height: 24px; }
			}
			.time { margin: 30px 0 0 0; }
			.open-seats
			{
				@extend .box-sizing;
				display: inline-block;
				width: 100%;
				color: #ef4d69;
				span
				{
					@extend .box-sizing;
					margin: 10px 0 0 0;
					display: inline-block;
					background: #ef4d69;
					color: #FFF;
					width: 100%;
					text-align: center;
					padding: 8px 0;
					font-family: $font-bold;
				}
			}
			.sharing-options
			{
				@extend .box-sizing;
				display: inline-block;
				width: 100%;
				margin: 20px 0 0 0;
			}
		}
	}
}
#past-event-options, #not-logged-options
{
	@extend .box-sizing;
	width: 100%;
	min-height: 95px;
	display: none;
}
#past-registered { display: none; }
#registered 
{ 
	background: #ef4d69;
	display: none;
}
#register-link { margin: 0 0 0 0; font-size: 20px; }
#register-link-bottom { margin: 20px 0 0 0; font-size: 20px; width: 100%; display: inline-block; @extend .box-sizing; text-align: center; }
#unregister-link { display: none; }

.event-registration-popup
{
	.location-time-container
	{
		display: inline-block;
		width: 100%;
		@extend .box-sizing;
		vertical-align: top;
		margin: 20px 0 20px 0;
		.item
		{
			display: inline-block;
			width: 50%;
			@extend .box-sizing;
			text-align: center;
			vertical-align: top;
			color: $color-blue;
			i { font-size: 30px; color: $color-green; }
			p { padding: 0; margin: 5px 0 10px 0; }
		}
	}
}
.pay-opt
{
	margin: 0 0 20px 0;
	display: inline-block;
	text-align: center;
	max-width: 500px;
	p { margin: 0 auto; }
}
#pay-opt-pay-or-set
{
	p { max-width: 500px; margin: 0 auto; }
	.field-container
	{
		display: inline-block;
		text-align: left;
		margin: 20px 0 0 0;
		input[type="radio"] { width: auto; display: inline-block; margin: 0 10px 0 0; }
		label { font-family: $font-normal; width: auto; display: inline-block; margin: 0 0 5px 0; }

	}
}

#event-overview
{
	margin: 20px 0 0 0;
	padding: 10px;
	article
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		width: 48%;
		margin: 10px 22px 10px 0 !important;
		padding: 10px;
		float: left;
		h3 { font-size: 18px; }
		font-size: 18px;
	}
	article:last-child { margin: 10px 0 10px 0 !important; }
}

#event-overview-next
{
	margin: 20px 0 0 0;
	padding: 10px;
	article
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		width: 48%;
		margin: 10px 22px 10px 0 !important;
		padding: 10px;
		//float: left;
		display: inline-block;
		vertical-align: top;
		h3 { font-size: 18px; }
		font-size: 18px;
	}
	article:last-child { margin: 10px 0 10px 0 !important; }
}

#search-session-view
{
	article
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		display: inline-block;
		width: 100%;
		margin: 0 0 10px 0;
		padding: 10px;
		background: $color-green;
		color: #fff;
		font-size: 14px;
		.prev-item, .next-item
		{
			@extend .box-sizing;
			float: left;
			width: 30%;
			p, h3 { text-align: left; }
		}
		.next-item
		{
			float: right;
			.image-link
			{
				float: right;
				margin: 0 0 0 10px;
			}
			p, h3 { text-align: right; }
		}
		.search-params
		{
			@extend .box-sizing;
			float: left;
			text-align: center;
			width: 40%;
		}
		.image-link
		{
			background-repeat: no-repeat;
			width: 105px;
			height: 105px;
			float: left;
			margin: 0 10px 0 0;
		}
	}
}

.user-profile, .user-settings
{
	.link-button
	{
		@extend .box-sizing;
		padding: 5px 10px !important;
		min-width: 113px !important;
		display: inline-block;
		margin: 0 10px 10px 0;
		font-size: 14px;
		text-align: center;
	}
	article
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		padding: 10px;
		font-size: 18px;
		margin: 0 0 30px 0;
		.left
		{
			@extend .box-sizing;
			display: inline-block;
			width: 334px;
			text-align: center;
			.profile-upload
			{
				position: relative;
				width: 334px;
				max-height: 334px;
				overflow: hidden;
				margin: 0 0 20px 0;
				.profile-img
				{
					width: 334px;
					overflow: hidden;
				}
				input[type="file"] 
				{
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					padding: 0;
					font-size: 20px;
					cursor: pointer;
					opacity: 0;
					height: 334px;
					width: 334px;
					filter: alpha(opacity=0);
				}
			}
			.profile-upload-edit
			{
				display: none;
				position: absolute;
				bottom: 0px;
				left: 0;
				width: 100%;
				height: 30px;
				background: $color-green;
				color: #fff;
				span
				{
					position: absolute;
					width: 100%;
					font-size: 16px;
					text-align: center;
					cursor: pointer !important;
					left: 0;
					top: 0;
					height: 30px;
					padding: 4px 0 0 0;
				}
			}	
			p { margin: 0; }
			.bar
			{
				margin: 10px 0;
				width: 100%;
				float: left;
				.left { background: #183343; height: 44px; float: left;}
				.right { background: #e1e4e9; height: 44px;  float: left; }
			}
		}
		.right
		{
			@extend .box-sizing;
			display: inline-block;
			h3 
			{ 
				text-align: left; 
				font-size: 30px;
				.social-profiles
				{
					float: right;
				}
			}
			padding: 0 0 0 20px;
			vertical-align: top;
			width: 740px;
			.content-part
			{
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid $color-border;
				padding: 10px 0;
			}
			.form-view
			{
				padding: 10px 0;
				border-bottom: 1px solid $color-border;
			}
			input[type="button"]
			{
				height: 37px;
				padding: 0 21px;
				margin: 0;
			}
			.tag
			{
				@extend .box-sizing;
				padding: 5px 10px !important;
				min-width: 113px !important;
				display: inline-block;
				margin: 0 10px 10px 0;
				font-size: 14px;
				text-align: center;
				font-family: $font-form;
				font-weight: bold;
			}
		}
	}
	article.my-profile
	{
		font-size: 16px;
	}
	article.user-profile
	{
		font-size: 16px;
		.left
		{
			max-height: 334px;
			overflow: hidden;
			.profile-img
			{
				margin: 0;
				width: 334px;
			}
		}
		.right
		{
			p { text-align: left !important; }
			.row
			{
				.right
				{
					padding: 0;
				}
			}
		}
	}
	input[type="button"]
	{
		cursor: pointer;
	}
}
#choaching-request-btn { display: none; }
.user-settings
{
	margin: 0 0 20px 0;
	article
	{
		margin-top: 20px;
	}
}
.achievements
{
	text-align: left;
	margin: 0 0 30px 0;
	vertical-align: top;
	.talentometer-container
	{
		@extend .box-sizing;
		display: inline-block;
		width: 30%;
		text-align: left;
		vertical-align: top;
		padding: 0 20px 0 0;
		border-right: 1px solid $color-border;
		h3
		{
			color: $color-red;
			font-size: 18px;
			margin: 0;
		}
		.points
		{
			display: inline-block;
			width: 100%;
			margin: 10px 0; 
			h4 { font-size: 30px; margin: 0; }
			p
			{
				margin: 0;
				font-size: 14px;
			}
		}
		.bar
		{
			margin: 10px 0 5px 0;
			width: 100%;
			float: left;
			.left 
			{ 
				background: #ef4d69; height: 19px; float: left;
				span
				{
					font-size: 14px;
					float: right;
					margin: 1px 10px 0 0;
					color: #fff;
				}
			}
			.right 
			{ 
				background: #e1e4e9; 
				height: 19px;  
				float: left; 
			}
		}
		.bar-labels
		{
			@extend .box-sizing;
			width: 100%;
			float: left;
			font-size: 14px;
			padding: 7px 0 0 0;
			.left 
			{ 
				float: left; 
				background: url(../Images/talentometer-left.gif);
				background-repeat: no-repeat;
				padding: 0 0 0 15px;
				font-family: $font-bold;
			}
			.right 
			{ 
				float: right; 
				background: url(../Images/talentometer-right.gif);
				background-repeat: no-repeat;
				background-position: right;
				padding: 0 15px 0 0;
			}
		}
	}
	.badges-container
	{
		@extend .box-sizing;
		display: inline-block;
		width:69%;
		text-align: left;
		padding: 0 0 0 20px;
		h3
		{
			color: $color-red;
			font-size: 18px;
			margin: 0 0 15px 0;
		}
		.badge-item
		{
			display: inline-block;
			width: 75px;
			margin: 0 10px 0 0;
			text-align: center;
			img { width: 75px; height: 75px; }
			span 
			{
				display: inline-block; 
				text-align: center;
				font-size: 12px;
			}
		}
		.badge-item:last-of-type { margin: 0 !important; }
	}
}

.request-list
{
	float: left;
	display: inline-block;
	width: 355px;
	.item
	{
		@extend .box-sizing;
		display: inline-block;
		width: 355px;
		padding: 10px 10px 5px 10px;
		border-bottom: 1px solid $color-border;
		font-size: 16px;
		.image-link
		{
			background-repeat: no-repeat;
			width: 105px;
			height: 105px;
			float: left;
			margin: 0 10px 0 0;
		}
		h3
		{
			float: left;
			font-size: 18px;
			color: $color-green;
			margin: 0 0 5px 0;
			cursor: pointer !important;
		}
		span
		{
			@extend .box-sizing;
			float: left;
			width: 220px;
			text-align: left;
			margin: 5px 0 0 0;
			img {  }
		}
		.details
		{
			@extend .box-sizing;
			background: url(../Images/icon-links.png);
			background-position: 0 4px;
			background-repeat: no-repeat;
			float: left;
			width: 220px;
			padding: 0 0 0 25px;
			cursor: pointer !important;
			.important
			{
				margin: 0;
				color: $color-red !important;
			}
			span.small { font-size: 14px; }
		}
		.details.out 
		{ 
			background: url(../Images/icon-rechts.png); 
			background-repeat: no-repeat;
			background-position: 0 4px;
		}
		.contact
		{
			@extend .box-sizing;
			float: left;
			width: 220px;
			padding: 5px 0 0 25px;
			font-size: 14px;
			span
			{
				width: auto;
				margin: 0 10px 0 0;
			}
		}
	}
	.item.active
	{
		background: #e6f7f3;
	}
}
#in-out-filter
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	padding: 0 0 10px 0;
	img 
	{ 
		display: inline-block;
		margin: 10px 0 0 0; 
	}
	select 
	{ 
		border: 1px solid #e3e4e8;
		color: #555;
		margin: 0;
		padding: 5px 10px;
		font-size: 16px;
		float: right;
	}
}

#request-stream
{
	@extend .box-sizing;
	display: inline-block;
	width: 710px;
	.item
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		border-top: 1px solid $color-border;
		padding: 5px 0px 0 0px;
		.profile-img
		{
			float: left;
			padding: 5px 10px 0 3px;
			a
			{
				display: inline-block;
				width: 35px;
				height: 35px;
				background-repeat: no-repeat;
			}
		}
		.content
		{
			float: left;
			width: 659px;
			h3
			{
				float: left;
				text-align: left;
				width: 100%;
				font-size: 18px;
				color: $color-green;
				margin: 0 0 2px 0;
				padding: 0;
				span
				{
					margin: 0 0 0 10px;
					color: #CCC;
					font-size: 12px;
					float: right;
				}
			}
			p
			{
				font-size: 14px;
				text-align: left;
				float: left;
				width: 100%;
				margin: 5px 0 0 0;
			}
		}
	}
	.item.Confirmation, .item.Appointment, .item.Completed, .item.Bonus, .item.Canceled, .item.Rejected
	{
		.content, .profile-img
		{
			background: #e6f7f3;
		}
		.profile-img { padding: 4px 10px 0 3px; }
		.content
		{
			h3 
			{ 
				float: left; 
				width: auto; 
				margin: 5px 10px 0 0; 
				span { display: none; }
			}
			p
			{
				float: left;
				font-size: 14px;
				margin: 9px 0 0 0;
				width: auto;
			}
			background: url(../Images/icon-zusagen.png);
			background-repeat: no-repeat;
			background-position: right;
			background-color: #e6f7f3;
			height: 35px;
			padding: 5px 0;
		}
	}
	.item.Canceled, .item.Rejected
	{
		.content
		{
			background: url(../Images/icon-absagen.png);
			background-repeat: no-repeat;
			background-position: right;
			background-color: #e6f7f3;
		}
	}
	.msg { font-size: 16px; margin: 10px 0 0 0; }
	.btn-container
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		margin: 10px 0;
		.link-button
		{
			@extend .box-sizing;
			width: 49%;
			display: inline-block;
			margin: 0;
			float: left;
		}
		.link-button:last-of-type
		{
			float: right;
		}
	}
}
#new-message-form
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	margin: 20px 0 0 0;
	textarea 
	{ 
		@extend .box-sizing;
		width: 100%; 
		height: 70px;
		margin: 0 0 0px 0;
		float: left;
		padding: 5px;
	}
	.link-button
	{
		@extend .box-sizing;
		float: left;
		width: 100%;
		font-size: 16px;
		margin: 0 0 10px 0;
		padding: 3px;
		display: none;
		border-top: 0;
		border-left: 1px solid rgb(169, 169, 169);
		border-right: 1px solid rgb(169, 169, 169);
		border-bottom: 1px solid rgb(169, 169, 169);
	}
}

#status-update-complete-loading { display: none; }
#status-update-complete
{
	@extend .box-sizing;
	width: 100%;
	display: inline-block;
	margin: 10px 0;
	font-size: 14px;
	text-align: left;
	.msg
	{
		h2 { font-size: 16px; }
		margin: 0 0 20px 0;
	}
	label
	{
		display: inline-block;
		width: 90px;
		vertical-align: top;
	}
	.feedback-container
	{
		@extend .box-sizing;
		display: inline-block;
		width: 49%;
		text-align: left;
		border-right: 1px solid $color-border;
		margin: 0 0 20px 0;
		h3
		{
			font-size: 16px;
			margin: 0 0 10px 0;
		}
		.subject
		{
			display: inline-block;
			width: 100%;
			text-align: left;
			margin: 5px 0;
		}
		.row
		{
			display: inline-block;
			width: 100%;
			label
			{
				margin: 20px 0 0 0;
			}
			.values
			{
				display: inline-block;
				a, span
				{
					display: inline-block;
					margin: 10px 0px 0 0;
					border-right: 7px solid #fff;
					width: 40px;
					height: 40px;
					background: #e6f7f3;
				}
				a.selected, span.selected
				{
					background: url(../Images/icon-star.png);
					background-repeat: no-repeat;
				}
				a.disabled
				{
					cursor: default;
				}
			}
			.switch
			{
				display: inline-block;
				margin: 10px 0 0 0;
				span
				{
					display: inline-block;
					margin: 10px 0px 0 0;
					border-right: 7px solid #fff;
					width: 40px;
					height: 40px;
					background: #e6f7f3;
				}
				span.selected
				{
					background: url(../Images/icon-star.png);
					background-repeat: no-repeat;
				}
				a.disabled
				{
					cursor: default;
				}
			}
		}
	}
	.feedback-container.right
	{
		border: 0;
		float: right;
	}
	select 
	{
		font-size: 16px;
		padding: 5px;
		margin-right: 10px;
	}
	.date-form
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		label
		{
			margin: 10px 8px 0 0;
			width: auto;
		}
		select
		{
			font-size: 13px;
			padding: 5px 0 5px 5px;
		}
	}
	.date-form.view
	{
		label { margin: 0 5px 0 10px; }
		label:first-of-type { margin: 0 5px 0 0; }
		span { font-family: $font-bold; }
	}
	.confirm-btn-container
	{
		display: inline-block;
		width: 100%;
		margin: 20px 0 0 0;
		.link-button
		{
			@extend .box-sizing;
			display: inline-block;
			width: 100%;
			text-align: center;
		}
	}
	.cancel-btn-container
	{
		display: inline-block;
		width: 100%;
		margin: 20px 0 0 0;
		padding: 10px 0 0 0;
		border-top: 1px solid $color-border;
		span
		{
			display: inline-block;
			width: 100%;
			text-align: center;
			margin: 0 0 15px 0;
		}
		select
		{
			width: 244px;
			margin: 0 20px 0 0;
		}
	}
}

#page-container.feedback-form
{
	p { font-size: 18px; }
	
}
.form-container.feedback 
{ 
	width: 100%;
	margin: 30px 0 0 0;
	.field-container
	{
		width: 80%;
		margin: 20px auto;
		span { font-size: 16px; }
		textarea, select { margin: 15px 0 0 0; }
		textarea { border-bottom: 1px solid $color-border; height: 150px; width: 100%; @extend .box-sizing; }
		input[type="submit"] { width: 100%; }
	}	
}
.slider-container
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	.label-left { float: left; display: inline-block; font-size: 14px; @extend .box-sizing; padding: 0 10px 0 0; width: 15%; font-weight: bold; text-align: right; margin: 15px 0 0 0; }
	.label-right { float: right; display: inline-block; font-size: 14px; @extend .box-sizing; padding: 0 0 0 10px; width: 15%; font-weight: bold; text-align: left; margin: 15px 0 0 0;  }
	.range { display: inline-block; margin: 0 auto; width:70%; }
}

.form-view
{
	width: 100%;
	display: inline-block;
	.row
	{
		.left 
		{ 
			float: left; 
			width: 30%; 
			text-align: left; 
			label 
			{ 
				width: 100%;
			}
		}
		.right 
		{ 
			float: left; 
			width: 70%; 
			text-align: left;
			padding: 0 0 0 5px;
		}
		width: 100%;
		display: inline-block;
		padding: 5px 0;
		label 
		{ 
			display: inline-block; 
			width: 30%; 
			font-family: $font-bold;
		}
		label.for-input
		{
			margin: 7px 0 0 0;
		}
		span { display: inline-block; width: 70%; }
		span.tag
		{
			width: auto;
			background: $color-green;
			color: #fff;
			padding: 8px 12px 8px 12px;
			display: inline-block;
		}
		.input-switch
		{
			font-size: 14px;
		}
		.input-switch.disabled
		{
			cursor: default;
		}
	}				
}

#my-offers
{
	display: inline;
	.link-button:last-child
	{
		margin: 0 5px 0 0 !important;
	}
}

#my-times
{
	display: inline;
	.link-button:last-child
	{
		margin: 0 5px 0 0 !important;
	}
}
a.timetable, div.timetable
{
	font-size: 14px !important;
	background: #fff;
	color: $color-green;
	.day { font-family: $font-bold; }
	.time { width: auto; }
}
div.timetable
{
	@extend .box-sizing;
	margin: 0 10px 10px 0;
	display: inline-block;
	border: 1px solid #0eb48d;
	font-size: 16px;
	padding: 5px 10px!important;
	min-width: 113px!important;
	text-align: center !important;
	border-radius: 0;
	text-decoration: none;
}

.msg-container 
{ 
	@extend .box-sizing;
	display: none;
}
.msg-container.visible
{ 
	display: block !important; 
	.msg { display: block !important; }
}
.msg
{
	@extend .box-sizing;
	width: 100%;
	display: none;
	@extend .img-shadow;
	padding: 20px;
	margin: 0 0 20px 0;
}
.msg.error 
{ 
	border: 1px solid #ef4d69; 
	background: #fef3f5;
	h2 { color: #ef4d69; }
}
.msg.success
{ 
	border: 1px solid #0eb48d; 
	background: #c2ece2;
	h2 { color: #0eb48d; }
}

.loading-message
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 10px;
	background: rgba(14,180,141,0.5);
	color: #fff;
	padding: 10px;
}

.talentify-modal-container
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	article
	{
		.content, .form-container
		{
			@extend .box-sizing;
			display: inline-block;
			width: 100%;
			padding: 20px 0;
			border: 0;
		}

		.form-container
		{
			padding: 0;
			font-size: 16px;
			label
			{
				display: inline-block;
				width: 100%;
				margin: 10px 0;
				font-size: 16px;
				font-family: $font-bold;
			}
			input, select, textarea
			{
				font-size: 14px;
				border-bottom: 1px solid $color-border !important;
			}
			textarea
			{
				height: 80px;
			}
			input[type="submit"]:last-child
			{
				margin-top: 10px;
			}
			.field-container
			{
				margin: 0;
			}
		}

		.msg-container
		{
			margin: 0 0 10px 0;
			text-align: center;
			font-size: 14px;
			.msg
			{
				padding: 10px 10px 0 10px;
				h2 { font-size: 16px; }
				p { margin: 0 0 10px; }
			}
		}
	}
}

.modal-dialog
{
	header
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		padding: 10px;
		h1
		{
			margin: 0 !important;
			padding: 0;
			color: $color-green;
			.close-link
			{
				float: right;
				background: url(../Images/icon-close.png);
				width: 23px;
				height: 23px;
				margin: 10px 0 0 0;
			}
		}
	}
}

.agb-container
{
	@extend .box-sizing;
	width: 100%;
	display: inline-block;
	padding: 0 20px 20px 20px;
	max-height: 480px;
	overflow: auto;
	margin: 0 0 20px 0;
	h4 { text-align: left; }
	p, li { font-size: 13px; }
}

.datenschutzbestimmungen, .impressum
{
	h2 { margin: 0 0 50px 0; }
	h4, p, li { text-align: left; }
	p, li { font-size: 16px; }
	p { margin: 5px 0 20px 0; }
}
.impressum
{
	text-align: center;
	margin: auto;
	.text
	{
		margin: auto;
		max-width: 400px;
	}
}

.feedback-form-container
{
	p { text-align: center; }
}

// helper
.important { font-family: $font-bold; }
.ajax-module { display: none; }
.no-border { border: 0 !important; }
.no-border-bottom { border-bottom: 0 !important; }
.border-bottom { border-bottom: 1px solid $color-border !important; }
.mobile { display: none; }
p.left { text-align: left; }
.auto-width { width: auto !important; }

// kampagnen stuff
.talentecheck { display: none; }
.talentecheck-highscore
{

	.badge-container
	{
		display: inline-block;
		margin: 0 auto 20px auto;
		text-align: center;
		width: 100%;
		vertical-align: top;
		.description
		{
			display: inline-block;
			width: 400px;
			text-align: left;
			vertical-align: top;
			margin: 25px 0 0 15px;
		}
	}
	h1.dotted { margin: 0 0 20px 0 !important; }
	.share-container
	{
		text-align: center;
		width: 100%;
		margin: 0 auto;
		span { font-family: $font-bold; vertical-align: top; margin: 35px 20px 0 0; display: inline-block; }
		a { display: inline-block; }
	}
}