// variables
$font-normal: CaeciliaLTPro-55Roman;
$font-bold: CaeciliaLTPro-85Heavy;
$font-italic: CaeciliaLTPro-56Italic;
$color-form: #616e76;
$color-shadow: #c3c3c3;
$color-green: #0eb48d;
$color-blue: #183343;
$color-border: #e5e5e5;

// mixins
@mixin shadow($color, $with) 
{
	-moz-box-shadow: 0 0 $with $color;
	-webkit-box-shadow: 0 0 $with $color;
	box-shadow: 0 0 $with $color;
}

@mixin menu-shadow($color, $with) 
{
	-moz-box-shadow: 0 0 $with $color;
	-webkit-box-shadow: 0 0 $with $color;
	box-shadow: 0 2px 2px $color;
}

// base
.box-sizing
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

// html defaults
* 
{
	font-family: $font-normal;
	font-weight: normal;
	font-style: normal;
}

html, body 
{
	height: 100%;
}

body
{
	padding: 0;
	margin: 0;
	color: #555;
	font-size: 20px;
}

h1, h2, h3, h4, h5
{
	font-family: $font-bold;
	padding: 0;
	margin: 0;
	text-align: center;
}

h2 { font-size: 32px; color: #ef4d69; }

a 
{ 
	//text-decoration: none; 
	color: #0eb48d;
	img { border: 0px; }
}
a:hover
{
	color: #167e64;
}

input, select {fonts-ize: 20px; color: $color-form; }
input[type="button"], input[type="submit"], .link-button
{
	background: #0eb48d;
	color: #FFF;
	border: 1px solid #0eb48d;
	font-family: $font-bold;
	font-size: 20px;
	padding: 8px 90px;
	border-radius: 0;
	text-decoration: none;
}
input[type="button"]:hover, input[type="submit"]:hover, .link-button:hover
{
	background: #167e64;
	color: #FFF;
}
input[type="button"]:active, input[type="submit"]:active, .link-button:active
{
	background: #0eb48d;
	border: 1px solid #167e64;
	color: #167e64;
}

iframe
{
	width: 100%;
	border: 0px;
}

.input-switch
{
	display: inline-block;
	position: relative;
	width: 110px;
	background: #1abc9c;
	border: 1px solid #394264;
	color: #fff;
	cursor: pointer;
	height: 30px;
	.switch-link
	{
		display: inline-block;
		width: 110px;
		height: 30px;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
	}
	.option
	{
		@extend .box-sizing;
		width: 50%;
		text-align: center;
		background: #394264;
		position: absolute;
		z-index: 2;
		top: 0;
		display: none;
		height: 30px;
		padding: 6px 0 0 0;
	}
	.on { left: 0;  }
	.off { right: 0; }
}
.input-switch.on
{
	.on { display: inline-block; cursor: default; }
}
.input-switch.off
{
	.off { display: inline-block; cursor: default; }
}
.input-switch-feedback
{
	display: inline-block;
	background: #f1f1f1;
	height: 25px;
	padding: 5px 10px 0 10px;
	vertical-align: top;
	font-size: 14px;
	margin: 0 0 0 10px;
	display: none;
}
.password-form
{
	margin: 20px 0 20px 0;
}

.form-container
{
	font-size: 20px;
	color: $color-form;
	width: 540px;
	text-align: center;
	margin: auto;
	input, select, textarea
	{
		width: 518px;
		border-top: 1px solid #e3e4e8;
		border-left: 1px solid #e3e4e8;
		border-right: 1px solid #e3e4e8;
		border-bottom: 0px;
		color: #555;
		margin: 0;
		padding: 5px 10px;
		font-size: 16px;
	}
	input[type="submit"], select { width: 542px; }
	input.error, select.error, textarea.error
	{
		background: #f7a6b4;
		color: #fff;
	}
	.error::-webkit-input-placeholder { color: #fff; }
	.error:-moz-placeholder { color: #fff; opacity:  1; }
	.error::-moz-placeholder { color: #fff; opacity:  1; }
	.error:-ms-input-placeholder { color: #fff; }
	input[type="text"].mandatory, input[type="password"].mandatory
	{
		background-image: url(/Images/mandatory.png);
		background-repeat: no-repeat;
		background-position: 98% 8px;
	}
	input[type="button"], input[type="submit"], .link-button   { border: 0px;color: #FFF; }
	.field-container
	{
		text-align: center;
		input:last-child, select:last-child { border-bottom: 1px solid #e3e4e8; }
		margin-bottom: 30px;
	}
}
.form-container.register 
{ 
	header
	{
		margin-bottom: 10px !important; 
	}
}
.form-container.search, .form-container.coaching-center-filter
{
	margin-top: 20px;
	width: 98%;
	border: 1px solid #c3c3c3;
	@include shadow($color-shadow, 5px);
	input, select { width: 31%; border: 1px solid #e3e4e8; }
	.field-container { margin: 10px; }
}
.form-container.coaching-center-filter
{
	margin: 20px 0 50px 0;
	label, select
	{
		margin: 0 20px 0 0;
	}
}

#register
{
	header
	{
		margin-bottom: 20px;
	}
}

#page-header
{
	width: 100%;
	height: 55px;
	position: fixed;
	z-index: 99;
	background: #183343;
	text-align: center;
	padding: 10px 0 0 0;
	.content
	{
		max-width: 1105px; 
		width: 100%;
		display: inline-block;
		margin: auto; 
		text-align: center;
		h1
		{
			float: left;
		}
		.logged-logo-container
		{
			position: relative;
			float: left;
			.main-menu
			{
				float: left;
				margin: 10px 15px 0 0;

				.nav-menu
				{
					width: 200px;
					left: -163px;
				}
			}
		}
		.login
		{
			float: right;
			margin: 6px 0 0 0;
			input[type="text"], input[type="password"]
			{
				padding: 5px 10px;
				font-size: 16px;
				width: 150px;
				margin: 0 5px 0 0;
			}
			input[type="button"], input[type="submit"], .link-button
			{
				padding: 5px 15px;
				font-size: 16px;
			}
		}
		.logged-container
		{
			float: right;
			margin: 5px 0 0 0;
			ul
			{
				margin: 0;
				padding: 0;
				li
				{	
					display: inline-block;
					margin: 0;
					padding: 0 8px 0 8px;
					height: 36px;
					border-right: 1px solid #304856;
					float: left;
					position: relative;
					img
					{
						float: left;
						vertical-align: middle;
					}
				}
				li.profile-img
				{
					a
					{
						display: inline-block;
						width: 35px;
						height: 35px;
						background-repeat: no-repeat;
						//border: 1px solid transparent;
					}
					a:hover
					{
						//border: 1px solid #fff;
					}
				}
				li.notifications
				{
					img { margin: 8px 0 0 0; }
					.nav-menu
					{
						width: 300px;
						left: -260px;
					}
				}
				li.settings
				{
					border-right: 0;
					img { margin: 6px 0 0 0; }
					.nav-menu
					{
						width: 200px;
						left: -163px;
					}
				}
			}
		}
	}
}
#notification-link
{
	position: relative;
}
#notification-count
{
	display: none;
	@extend .box-sizing;
	position: absolute;
	top: -5px;
	right: 0px;
	width: 20px;
	height: 20px;
	background: $color-green;
	color: #fff;
	text-align: center;
	border-radius: 120px;
	font-size: 11px;
	padding: 3px 0 0 0;
	z-index: 10000;
}

.nav-menu
{
	@include menu-shadow($color-shadow, 5px);
	@extend .box-sizing;
	background: #fff;
	border: 1px solid $color-border;
	border-radius: 3px;
	position: absolute;
	top: 42px;
	left: 0;
	display: none;
	padding: 5px 0;
	.arrow
	{
		position: absolute;
		right: 10px;
		top: -6px;
		width: 13px;
		height: 6px;
		background: url(../Images/nav-menu-arrow.png);
		background-repeat: no-repeat;
	}
	a
	{
		@extend .box-sizing;
		width: 100%;
		display: inline-block;
		padding: 2px 30px;
		text-decoration: none;
		font-size: 15px;
		text-align: left;
	}
	a:hover
	{
		background: $color-green;
		color: #fff;
	}
}

#page-footer
{
	max-width: 1105px; 
	width: 100%; 
	margin: auto; 
	text-align: center;
	.container
	{
		width: 100%;
		padding: 30px 0;
		nav
		{
			border-top: 1px solid #e7eaec;
			width: 100%;
			display: inline-block;
			padding: 10px 0 0 0;
			margin: 10px 0 0 0;
			ul
			{
				margin: 0;
				padding: 0;
				li
				{
					display: inline-block;
					font-size: 18px;
					margin-right: 20px;
					color: $color-blue;
					a
					{
						color: $color-blue;
					}
					a:hover { text-decoration: underline; }
				}
			}
		}
	}
}

#page-container
{
	z-index: 1;
	max-width: 1105px; 
	width: 100%; 
	margin: auto; 
	text-align: center;
	padding-top: 85px;

	section
	{ 
		height: 100%;
		display: inline-block; 
		width: 100%;
		position: relative;
		h1
		{
			span
			{
				display: inline-block;
				margin-bottom: 2px;
				font-family: $font-italic;
				//background: #ef4d69;
				color: $color-blue;
				font-size: 32px;
				padding: 5px 10px;
			}
			margin: 0 0 50px 0;
		}
		article
		{
			text-align: left;
			header 
			{
				text-align: center;
				margin: 0 0 10px 0;
			}
			p { text-align: center; }
			footer { text-align: center; }
		}
	}
}

.home
{
	h1 { margin: 0 0 160px 0; }
	article
	{
		height: 100%;
		padding: 0 20px;
		p { font-size: 30px; padding: 0; margin: 0 0 10px 0; }
		footer
		{
			margin: 160px 0 0 0;
			input[type="button"], input[type="submit"], .link-button { width: 60%; }
		}
	}
}

#home-nav
{
	position: fixed;
	top: 200px;
	right: 5%;
	width: 20px;
	z-index: 100;
	margin: 0 10px 0 0;
	ul
	{
		li
		{
			display: inline-block;
			a
			{
				display: inline-block;
				width: 25px;
				height: 25px;
				border: 1px solid $color-green;
				border-radius: 120px;
				background: #fff;
				span
				{
					display: none;
				}
			}
			a.selected, a:hover
			{
				background: $color-green;
			}
		}
	}
}

#search
{
	margin: 0 0 30px 0;
}

#search-results
{
	width: 98% !important;
	margin: 0px 0 0 0;
	header
	{
		width: 100%;
		height: 35px;
		background-image: url(../Images/search-result-header.png);
		background-position: center;
		margin: 0 0 30px 0;
	}
	article
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		float: left;
		min-width: 49%;
		margin: 0 0 20px 0;
		padding: 10px;
		img { float: left; margin-right: 10px; }
		.image-link
		{
			background-repeat: no-repeat;
			width: 105px;
			height: 105px;
			float: left;
			margin: 0 10px 0 0;
		}
		h3 { color: $color-green; font-size: 18px; text-align: left; }
		p 
		{ 
			margin: 0; 
			padding: 0; 
			text-align: left !important; 
			font-size: 16px;
		}
		.comments
		{
			margin: 10px 0 0 0;
		}
	}
	article:nth-child(2n)
	{
		float: right !important;
	}
}

.two-col-container
{
	.col-container
	{
		@extend .box-sizing;
		width: 50%;
		float: left;
		padding: 0 10px 0 0;
		article
		{
			@extend .box-sizing;
			@include shadow($color-shadow, 5px);
			width: 100%;
			margin: 10px 0 10px 0 !important;
			padding: 10px;
			float: left;
			h3 { font-size: 18px; }
			font-size: 18px;
		}
		article.stream-item
		{
			.image-link
			{
				background-repeat: no-repeat;
				width: 105px;
				height: 105px;
				float: left;
				margin: 0 10px 0 0;
			}
			p { text-align: left !important; margin: 0 0 10px 0; }
			.icon { float: left; margin: 0 10px 0 0; }
		}
		article + a
		{
			display: inline-block;
			margin: 20px 0 30px 0 !important;
		}
	}
	.col-container:last-child {	padding: 0 0 0 10px; }
}

article.event-preview
{
	h3 { text-align: left; }
	p { text-align: left !important; margin: 10 0 10px 0; }
	img { float: left; margin: 0 10px 0 0; }
}

article.event-detail
{
	.content-container
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		display: inline-block;
		width: 100%;
		padding: 10px;

		.left
		{
			@extend .box-sizing;
			display: inline-block;
			width: 730px;
			h1
			{
				text-align: left;
				background: url(../Images/bg-content-headline.png);
				background-repeat: no-repeat;
				background-position: top left;
				padding: 0 0 0 100px;
				height: 88px;
				color: #707070;
				font-size: 30px;
				margin: 0 0 20px 0 !important;
			}
			.content
			{
				@extend .box-sizing;
				text-align: left;
				padding: 0 10px 0 0;
				h4 
				{ 
					text-align: left;
					margin: 10px 0 0 0;
				}
				p
				{
					text-align: left !important;
					font-size: 18px;
				}
				border-right: 1px solid $color-border;
			}
		}
		.right
		{
			@extend .box-sizing;
			display: inline-block;
			width: 349px;
			vertical-align: top;
			padding: 10px;
			.link-button
			{
				display: inline-block;
				padding: 8px 0;
				width: 100%;
				text-align: center;
			}
			.map-container
			{
				margin: 50px 0 20px 0;
				display: inline-block;
				width: 334px;
				height: 334px;
			}
			.address, .time
			{
				line-height: 30px;
			}
			.time { margin: 30px 0 0 0; }
			.open-seats
			{
				@extend .box-sizing;
				display: inline-block;
				width: 100%;
				color: #ef4d69;
				p 
				{ 
					text-align: left !important; 
					font-family: $font-bold; 
				}
				span
				{
					display: inline-block;
					background: #ef4d69;
					color: #FFF;
					width: 100%;
					text-align: center;
					padding: 8px 0;
					font-family: $font-bold;
				}
			}
		}
	}
}
#registered 
{ 
	background: #ef4d69;
	display: none;
}

#event-overview
{
	article
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		width: 49%;
		margin: 10px 22px 10px 0 !important;
		padding: 10px;
		float: left;
		h3 { font-size: 18px; }
		font-size: 18px;
	}
	article:last-child { margin: 10px 0 10px 0 !important; }
}

#search-session-view
{
	article
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		display: inline-block;
		width: 100%;
		margin: 0 0 10px 0;
		padding: 10px;
		background: $color-green;
		color: #fff;
		font-size: 14px;
		.prev-item, .next-item
		{
			@extend .box-sizing;
			float: left;
			width: 30%;
			p, h3 { text-align: left; }
		}
		.next-item
		{
			float: right;
			.image-link
			{
				float: right;
				margin: 0 0 0 10px;
			}
			p, h3 { text-align: right; }
		}
		.search-params
		{
			@extend .box-sizing;
			float: left;
			text-align: center;
			width: 40%;
		}
		.image-link
		{
			background-repeat: no-repeat;
			width: 105px;
			height: 105px;
			float: left;
			margin: 0 10px 0 0;
		}
	}
}

.user-profile, .user-settings
{
	.link-button
	{
		@extend .box-sizing;
		padding: 5px 10px !important;
		min-width: 113px !important;
		display: inline-block;
		margin: 0 10px 10px 0;
		font-size: 14px;
		text-align: center;
	}
	article
	{
		@extend .box-sizing;
		@include shadow($color-shadow, 5px);
		padding: 10px;
		font-size: 18px;
		margin: 0 0 30px 0;
		.left
		{
			@extend .box-sizing;
			display: inline-block;
			width: 334px;
			text-align: center;
			.profile-upload
			{
				position: relative;
				.profile-img
				{
					margin: 0 0 20px 0;
					width: 334px;
				}
				input[type="file"] 
				{
					position: absolute;
					top: 0;
					right: 0;
					margin: 0;
					padding: 0;
					font-size: 20px;
					cursor: pointer;
					opacity: 0;
					height: 334px;
					width: 334px;
					filter: alpha(opacity=0);
				}
			}
			.profile-upload-edit
			{
				display: none;
				position: absolute;
				bottom: 25px;
				left: 0;
				width: 100%;
				height: 30px;
				background: $color-green;
				color: #fff;
				input[type="file"]
				{
					height: 30px;
					cursor: default;
				}
				span
				{
					position: absolute;
					width: 100%;
					font-size: 16px;
					text-align: center;
					cursor: pointer !important;
					left: 0;
					top: 0;
					height: 26px;
					padding: 4px 0 0 0;
				}
			}	
			p { margin: 0; }
			.bar
			{
				margin: 10px 0;
				width: 100%;
				float: left;
				.left { background: #183343; height: 44px; float: left;}
				.right { background: #e1e4e9; height: 44px;  float: left; }
			}
		}
		.right
		{
			@extend .box-sizing;
			display: inline-block;
			h3 { text-align: left; font-size: 30px; }
			padding: 0 0 0 20px;
			vertical-align: top;
			width: 740px;
			.content-part
			{
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid $color-border;
				padding: 10px 0;
			}
			.form-view
			{
				padding: 10px 0;
				border-bottom: 1px solid $color-border;
			}
			input[type="button"]
			{
				height: 37px;
				padding: 0 21px;
				margin: 0;
			}
		}
	}
	article.my-profile
	{
		font-size: 16px;
	}
	article.user-profile
	{
		.left
		{
			.profile-img
			{
				margin: 0;
				width: 334px;
			}
		}
		.right
		{
			p { text-align: left !important; }
			.row
			{
				.right
				{
					padding: 0;
				}
			}
		}
	}
}
#choaching-request-btn { display: none; }
.user-settings
{
	margin: 0 0 20px 0;
	article
	{
		margin-top: 20px;
	}
}

.request-list
{
	float: left;
	display: inline-block;
	width: 355px;
	.item
	{
		@extend .box-sizing;
		float: left;
		width: 355px;
		padding: 10px;
		border-bottom: 1px solid $color-border;
		font-size: 16px;
		.image-link
		{
			background-repeat: no-repeat;
			width: 105px;
			height: 105px;
			float: left;
			margin: 0 10px 0 0;
		}
		h3
		{
			float: left;
			font-size: 18px;
			color: $color-green;
			margin: 0 0 5px 0;
		}
		span
		{
			@extend .box-sizing;
			float: left;
			width: 220px;
			text-align: left;
			margin: 5px 0 0 0;
			img {  }
		}
	}
	.item.active
	{
		background: #e6f7f3;
	}
}

#request-stream
{
	@extend .box-sizing;
	display: inline-block;
	width: 710px;
	.item
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		border-top: 1px solid $color-border;
		padding: 15px 3px 0 3px;
		.profile-img
		{
			float: left;
			padding: 5px 10px 0 0;
			a
			{
				display: inline-block;
				width: 35px;
				height: 35px;
				background-repeat: no-repeat;
			}
		}
		.content
		{
			float: left;
			h3
			{
				float: left;
				text-align: left;
				width: 100%;
				font-size: 18px;
				color: $color-green;
				margin: 0 0 2px 0;
				padding: 0;
			}
			p
			{
				font-size: 14px;
				text-align: left;
				float: left;
				width: 100%;
				margin: 0;
			}
		}
	}
}
#new-message-form
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	textarea 
	{ 
		width: 100%; 
		height: 70px;
		margin: 0 0 10px 0;
	}
	.link-button
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		font-size: 16px;
	}
}

.form-view
{
	width: 100%;
	display: inline-block;
	.row
	{
		.left 
		{ 
			float: left; 
			width: 30%; 
			text-align: left; 
			label 
			{ 
				width: 100%;
			}
		}
		.right 
		{ 
			float: left; 
			width: 70%; 
			text-align: left;
			padding: 0 0 0 5px;
		}
		width: 100%;
		display: inline-block;
		padding: 5px 0;
		label 
		{ 
			display: inline-block; 
			width: 30%; 
			font-family: $font-bold;
		}
		label.for-input
		{
			margin: 7px 0 0 0;
		}
		span { display: inline-block; width: 70%; }
		span.tag
		{
			width: auto;
			background: $color-green;
			color: #fff;
			padding: 8px 12px 8px 12px;
			display: inline-block;
		}
		.input-switch
		{
			font-size: 14px;
		}
	}				
}

#my-offers
{
	display: inline;
	.link-button:last-child
	{
		margin: 0 5px 0 0 !important;
	}
}

.msg-container 
{ 
	@extend .box-sizing;
	display: none;
}
.msg-container.visible
{ 
	display: block !important; 
	.msg { display: block !important; }
}
.msg
{
	@extend .box-sizing;
	width: 100%;
	display: none;
	@extend .img-shadow;
	padding: 20px;
	margin: 0 0 20px 0;
}
.msg.error 
{ 
	border: 1px solid #ef4d69; 
	background: #fef3f5;
	h2 { color: #ef4d69; }
}
.msg.success
{ 
	border: 1px solid #0eb48d; 
	background: #c2ece2;
	h2 { color: #0eb48d; }
}

.loading-message
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 10px;
	background: rgba(14,180,141,0.5);
	color: #fff;
	padding: 10px;
}

.talentify-modal-container
{
	@extend .box-sizing;
	display: inline-block;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	article
	{
		.content, .form-container
		{
			@extend .box-sizing;
			display: inline-block;
			width: 100%;
			padding: 20px 0;
			border: 0;
		}

		.form-container
		{
			padding: 0;
			font-size: 16px;
			label
			{
				display: inline-block;
				width: 100%;
				margin: 10px 0;
				font-size: 16px;
				font-family: $font-bold;
			}
			input, select, textarea
			{
				font-size: 14px;
				border-bottom: 1px solid $color-border !important;
			}
			textarea
			{
				height: 80px;
			}
			input[type="submit"]:last-child
			{
				margin-top: 10px;
			}
			.field-container
			{
				margin: 0;
			}
		}

		.msg-container
		{
			margin: 0 0 10px 0;
			text-align: center;
			font-size: 14px;
			.msg
			{
				padding: 10px 10px 0 10px;
				h2 { font-size: 16px; }
				p { margin: 0 0 10px; }
			}
		}
	}
}

.modal-dialog
{
	header
	{
		@extend .box-sizing;
		display: inline-block;
		width: 100%;
		padding: 10px;
		h1
		{
			margin: 0 !important;
			padding: 0;
			color: $color-green;
			.close-link
			{
				float: right;
				background: url(../Images/icon-close.png);
				width: 23px;
				height: 23px;
				margin: 10px 0 0 0;
			}
		}
	}
}

// helper
.important { font-family: $font-bold; }
.ajax-module { display: none; }
.no-border { border: 0 !important; }
.mobile { display: none; }
p.left { text-align: left; }
.auto-width { width: auto !important; }