/* ---------------------------------------- Voice Page ---------------------------------------- */

/* ---------- modal ---------- */

.modal a, .modal b, .modal p {
	text-align: left;
	font-size: 16px
}	

.modal a {
    color: #ffbe00;
}

.modal .calc p {
    margin-bottom: 5px
}

.modal h1 {
	font-family: CaeciliaLTPro-85Heavy;
	text-align: left;
	color: #ffbe00;
    margin-bottom: 16px;
	font-size: 28px
}

.modal i {
    color: #ffbe00;
    font-size: 36px;
    margin-top: -50px
}

.modal i.info {
    margin-left: 1px;
    font-size: 14px
}

.modal button {
	max-width: 40px;
	text-align: right;
    opacity: 0.5;
    margin-top: -37px
}

.modal button:hover {
	opacity: 1
}

.modal button img {
	width:90%
}

.modal img {
    margin-top: 10px;
    width: 860px
}

/* ---------- Row header ---------- */
#headerbg {
		background: url("/Images/voice_header.png"), #00a77f;
		background-position: 72% bottom;
		background-repeat: no-repeat;
        position: fixed;
        z-index: 0;
        width: 100%;
}

#header {
	height: 480px;
	color: #c9f0e7;
	text-align: left
}

#header h1 {
	margin: 70px 0 0 0;
	text-align: left;
	position: relative;
	z-index:1 !important
}

#header p.account{
	font-size: 14px;
	margin: 24px 0 0 40px	
}

#header img.mdlglogo {
	height: 55px;
	margin-top: 33px
}

#header img.logo {
	height: 44px;
	width: 200px;
	margin-top: 33px
}

#header img.dots {
	margin: 15px 0 15px 0
}

#header a.menu {
    color: #fff;
    margin: 0 20px 0 20px;
    font-size: 18px;
}

#header a.menu:hover {
    color: #c9f0e7;
    text-decoration: none

}

#header a:hover {
    text-decoration: none
}

#header button {
    margin: 41px 0 8px 20px;
	padding: 5px 25px 5px 25px
}

.menu {
    margin-right: -20px
}

/* ---------- Row video ---------- */
#videobg {
    background: #fff;
    position: relative;
    z-index: 1
}

#video  {
    margin: 480px auto 0 auto;
	padding: 90px 0 90px 0;
	text-align: left
}

#video h3 {
	text-align: left
}

#video img {
	height: 60px;
	width: 90px;
	margin-left: 20px
}

/* ---------- Row comment ---------- */
#commentbg {
	background: #f0f0f2;
    position: relative;
    z-index: 1
}

#comment {
	padding: 50px 0 50px 0
}

#comment img {
	margin-bottom: 40px
}

/* ---------- Row newspaper ---------- */
#newspaperbg {
    background: #fff;
    position: relative;
    z-index: 1
}

#newspaper {
	margin: 0 auto 0 auto;
    padding: 70px 0 90px 0
}

#newspaper img {
	margin-bottom: 20px
}

#newspaper p , #newspaper a.newspaper, #newspaper a.newspaper:hover{
	color: #223343
}

#newspaper a.newspaper  {
	text-decoration: none;
	font-size: 18px
}

#newspaper a.newspaper:hover  {
	text-decoration: underline;
	font-size: 18px
}

#newspaper p.yra {
    margin: 60px 0 0 0;
    font-size: 22px
}

#newspaper a.yra, #newspaper a.yra:hover{
	color: #00a77f;
}

#newspaper a.yra:link {
	border-bottom: solid #00a77f;
	border-bottom-width:1px;
	padding-bottom:3px;
	text-decoration: none
}

#newspaper a.yra:hover, #newspaper a.yra:active,
#newspaper a.yra:visited{
	border-bottom: none;
	text-decoration: none;
	margin-bottom: 1px
}

#newspaper a.yra.no-line{
	border-bottom: none;
}

/* ---------- Row parents ---------- */
#parentsbg {
	background: #e64461;
    position: relative;
    z-index: 1
}

#parents {
	color: white;
	padding: 50px 0 50px 0
}

#parents h2{
	max-width: 980px
}

#parents p {
	font-size: 22px;
	margin-bottom: 0
}

/* ---------- Row teacher ---------- */
#teacherbg {
	background: #fff;
    position: relative;
    z-index: 1
}

#teacher {
	margin: 0 auto 0 auto;
    padding: 90px 0 90px 0
}

#teacher img {
	margin-bottom: 40px
}

/* ---------- Row slideshow ---------- */
#slideshowbg {
	background: #fff;
    position: relative;
    z-index: 1
}

#slideshow  {
	margin: -1px auto -1px auto;
    padding: 60px 0 60px 0
}

/* ---------- Row school ---------- */
#schoolbg {
	background: #fff;
    position: relative;
    z-index: 1
}

#school {
	margin: -1px auto -1px auto;
    padding: -60px 0 -10px 0
}

#school a {
	border-bottom: solid #00a77f;
	border-bottom-width:1px;
	padding-bottom:3px;
	text-decoration: none
}

#school a:hover{
	text-decoration: none;
	border-bottom: none;
	margin-bottom: 1px
}

/* ---------- Tablet ---------- */

@media (min-width: 768px) and (max-width: 991px) { 

    /* --- Row modal --- */
    
    .modal img {
        margin-top: 10px;
        width: 560px
    }

	/* --- Row header --- */
	#header img.kids {
		margin-left: -119px;
		margin-top: -264px;
		position: relative;
		vertical-align: bottom;
		z-index:0 !important
	}	
	
    #header a.menu {
        margin: 0 15px 0 15px;
        font-size: 16px;
    }

    .menu {
        margin-right: 0
    }

	/* --- Row footer --- */
	#footer {
		margin-bottom: 90px
	}
}

/* ---------- Mobile ---------- */
@media (max-width: 767px) {
    /* --- modal --- */
    .modal a, .modal b, .modal p {
	    text-align: left;
	    font-size: 14px
    }	
    
    .modal i {
        color: #ffbe00;
        margin-top: 16px;
        font-size: 20px
    }

    .modal h1{
	    font-size: 20px
    }

    .modal img {
        margin-top: 10px;
        width: 260px
    }


	/* --- Row mobileheader --- */
	#mobileheaderbg {
		background: url("/Images/voice_mobileheader.png"), #00a77f;
		background-position: 75% 105%;
		background-repeat: no-repeat
	}
	
	#mobileheader {
		text-align: left;
		padding: 15px 0 30px 0
	}
	
	#mobileheader img.logo {
		height: 44px
	}
	
	#mobileheader img.menu{
		float: right;
		margin-top: 5px;
        margin-right: 0;
		height: 22px
	}	
	#mobileheader h1 {
		margin: 45px 0 135px 0;
		font-size: 28px
	}
	
	#mobileheader button.redbutton {
		height: 45px;
		font-size: 18px;
		width: 100%
	}

	/* --- Row video --- */
	#video {
		margin: 30px auto 30px auto
	}
	
	#video img {
		margin: 30px 0 15px 0;
	}	
		
	#video h3 {
		font-size: 22px;
		margin: 0
	}	
	
	#video p {
		font-size: 16px;
		margin-bottom: 45px
	}	
			
	/* --- Row comment --- */
	#comment {
		padding: 30px 0 30px 0
	}
	
	#comment img {
		margin: 15px 0 15px 0;
	}	
		
	#comment h3 {
		font-size: 22px;
		margin: 0
	}	
	
	#comment p {
		font-size: 16px;
		margin-bottom: 45px
	}	
	
	/* --- Row newspaper --- */
	#newspaper {
		margin: 45px auto 45px auto
	}
	
	#newspaper img {
		margin: 15px 0 0 0;
	}	
		
	#newspaper h2 {
		font-size: 22px;
		margin-top: 15px
	}	
	
	#newspaper p {
		font-size: 16px;
		margin-bottom: 30px
	}	
	
	/* --- Row parents --- */
	#parents {
		padding: 30px 0 30px 0
	}
	
	#parents h2 {
		font-size: 20px;
		line-height: 28px;
		padding: 0 10px 0 10px
	}
	
	#parents p {
		font-size: 18px
	}
	
	/* --- Row teacher --- */
	#teacher {
		margin: 20px auto 30px auto
	}
	
	#teacher h3 {
		font-family: 'Lato', san-serif;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.15;
		margin: 0
	}
	
	#teacher img {
		margin: 30px 0 15px 0;
	}
	
	/* --- Row slideshow --- */
	#slideshow {
		margin: 30px auto 30px auto
	}	
	
	/* --- Row school --- */
	#school {
		margin: 30px auto 60px auto
	}
	#school p{
		font-size: 16px
	}
	
}

/* ---------- Custom ---------- */
@media (max-width: 767px) {
	#school {
		margin: 30px auto 30px auto
	}
}	
/* ---------------------------------------- End Voice Page ---------------------------------------- */
