<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="MailChimpServiceSettings" type="MailChimp.Net.Settings.MailChimpServiceConfiguration, MailChimp.Net.Settings" />
  </configSections>
	<MailChimpServiceSettings
		apiKey="86db57cc4cba22bf31bc350ab640f9e1-us3"
		subscriberListId="c3fa9abc22"
		serviceUrl="https://us3.api.mailchimp.com/2.0/"
		listsRelatedSection="lists"
		helperRelatedSection="helper"/>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="BaseUrl" value="http://www.talentify.me"/>
		<add key="Email.From" value="notifications@talentify.me"/>
		<add key="Email.ReplyTo" value="hallo@talentify.at" />
		<!--<add key="Email.Feedback.To" value="dstempel@gmail.com"/>-->
		<add key="Email.Feedback.To" value="feedback@talentify.at"/>
		<add key="Email.Enabled" value="true"/>
		<add key="Email.Register.Subject" value="talentify - Registrierung"/>
		<add key="Email.Register.Body" value="Registruerung bestätigen: http://www.talentify.me/Register/Confirm?c={0}"/>
		<add key="Email.Teacher.Register.Subject" value="talentify - Lerncoach Anmeldung"/>
		<add key="Email.PasswordReset.Subject" value="talentify Passwort zurücksetzen"/>
		<add key="Email.Invite.Subject" value="Du wurdest von {0} zu talentify eingeladen"/>
		<add key="Email.Delete.Subject" value="talentify - Account wurde gelöscht"/>
		<add key="Email.Notifiction.Subject" value="talentify - Notification"/>
		<add key="Upload.Profile" value="/uploads/profile/"/>
		<add key="Admin.Upload.Url" value="http://talentify-admin.azurewebsites.net/uploads/"/>
		<add key="enableSimpleMembership" value="false"/>
		<add key="autoFormsAuthentication" value="false"/>
		<add key="test.notificationcount" value="0"/>
		<add key="Notifications.SenderType.0.Url" value="/CoachingCenter/Index"/>
		<add key="SchoolMap.Default.Lng" value="16.371563"/>
		<add key="SChoolMap.Default.Lat" value="48.208889"/>
		<!-- action token timeouts (hours) -->
		<add key="ActionToken.PasswordReset.Timeout" value="2"/>
  </appSettings>
  <system.web>
		<customErrors mode="Off"/>
		<authentication mode="Forms"> 
			<forms loginUrl="/Home" defaultUrl="/" timeout="30" />
		</authentication>
		<membership defaultProvider="TalentifyMembershipProvider">
			<providers>
				<clear />
				<add name="TalentifyMembershipProvider" type="Talentify.ORM.Mvc.Security.TalentifyMembershipProvider" passwordFormat="Encrypted" />
			</providers>
		</membership>
		<!-- use mode="SQLServer" on production -->
		<sessionState mode="InProc" timeout="30"></sessionState>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<!--<network host="smtp.dd24.net" userName="notifications@talentify.me" password="Zukunft#bilden" />-->
				<network host="newsrelay.dd24.net" userName="notifications@talentify.me" password="Zukunft#bilden" />
			</smtp>
		</mailSettings>
	</system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings>
		<!--<add name="EFConnectionString" connectionString="Server=tcp:p6dt28vyqo.database.windows.net,1433;Database=talentify;User ID=MyPerfectDay@p6dt28vyqo;Password=My!Perfect#D666;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
		<add name="EFConnectionString" connectionString="Data Source=SCHWEINESTALL\SQLEXPRESS2008;Initial Catalog=talentify;Trusted_Connection=true;Connection Timeout=30;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>