@{
    ViewBag.Title = "Agb";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
<div class="agb-container">
	<h3 style="text-align: left;">Allgemeine Geschäftsbedingungen für die Nutzung von www.talentify.me</h3>
	<p>Stand: 15. Oktober 2014</p>
	<p>Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Nutzerinnen und Nutzer von www.talentify.me und den damit verbundenen Anwendungen. Für eine höhere Verständlichkeit wird fortan geschlechtsneutral “Nutzer” verwendet.</p>
	<p>Mit der Registrierung des Nutzers entsteht ein Vertragsverhältnis zwischen ihm und der talent 2 talent GmbH (Betreiber von talentify.me und im Weiteren als solcher bezeichnet) mit Sitz in der Prof. Dr. Stephan Koren Str. 10, A-2700 Wiener Neustadt.</p>
	<h4>1. Allgemein</h4>
	<ol>
		<li>Die jeweils aktuelle Fassung der AGB ist unter www.talentify.me abrufbar.</li>
		<li>Vereinbarungen, die von diesen AGBs abweichen oder diese ergänzen, bedürfen zu ihrer Wirksamkeit der Schriftform.</li>
		<li>talentify.me kann die AGB jederzeit ändern und diese Änderungen sind auch für bestehende Vertragsverhältnisse wirksam. Jeder Nutzer hat das Recht, der Änderung der AGB binnen vier Wochen nach Erhalt der Mitteilung über die Änderung zu widersprechen. Tut er dies nicht, gelten die geänderten AGB als akzeptiert.</li>
	</ol>
	<h4>2. Leistungsbeschreibung</h4>
	<ol>
		<li>talentify.me ist ausschließlich als Vermittler tätig und bietet dem Nutzer die Möglichkeit, sich nach kostenloser Registrierung und E-Mail Verifizierung, kostenlos mit anderen Nutzern in seiner Umgebung zu vernetzen und auszutauschen, Informationen zu Veranstaltungen zu finden und sich dafür anzumelden sowie Lernhilfe anbieten sowie suchen.</li>
		<li>talentify.me selbst wird nicht Vertragspartner der zwischen Nutzern geschlossenen Verträge im Hinblick auf den Austausch von Waren und Dienstleistungen.</li>
	</ol>
	<h4>3. Inhalte</h4>
	<ol>
		<li>Die talent 2 talent GmbH hat die Inhalte auf www.talentify.me mit größter Sorgfalt erstellt. Für Aktualität, Richtigkeit und Vollständigkeit dieser Inhalte kann talentify.me jedoch keine Haftung übernehmen.</li>
		<li>talentify.me ist als Dienstanbieter gemäß § 18 Abs. 1 E-Commerce-Gesetz nicht verpflichtet, von talentify.me gespeicherte, übermittelte oder zugänglich gemachte Informationen zu überwachen oder von sich aus auf Rechtswidrigkeit zu überprüfen. talentify.me ist aber verpflichtet, der Aufforderung von Gerichten oder Behörden zur Übermittlung derartiger Informationen im Rahmen gesetzlicher Auskunfts- und Mitwirkungspflichten Folge zu leisten.</li>
		<li>talentify.me behält sich vor, gegen geltendes Recht, Moral, Sitte oder vertragliche Verpflichtungen verstoßende Inhalte ohne Ankündigung zu verändern, zu ergänzen, zu löschen beziehungsweise zeitlich befristet oder dauerhaft auszublenden.</li>
		<li>Der Nutzer ist verpflichtet, die von ihm bereitgestellten Inhalte regelmäßig daraufhin zu überprüfen, ob diese nicht gegen Moral oder Sitte, gegen geltendes Recht oder die Rechte Dritter - insbesondere Persönlichkeits- oder Urheberrechte - verstoßen und diese gegebenenfalls zu entfernen bzw. dies talentify.me zu melden.</li>
	</ol>
	<h4>4. Haftung und Verantwortung von talentify.me</h4>
	<ol>
		<li>talentify.me ist für vom Nutzer eingegebene Informationen sowie die Vermittlung des Zugangs dazu nicht verantwortlich, sofern talentify.me die Übermittlung nicht veranlasst, den Empfänger der übermittelten Personen nicht auswählt und die übermittelten Informationen weder auswählt noch verändert.</li>
		<li>Dies beinhaltet auch die automatische kurzzeitige Zwischenspeicherung der übermittelten Informationen, soweit diese Zwischenspeicherung nur der Durchführung der Übermittlung im Kommunikationsnetz dient und die Information nicht länger als für die Übermittlung üblicherweise erforderlich gespeichert wird.</li>
		<li>
			talentify.me ist für die zeitlich begrenzte Zwischenspeicherung der von einem Nutzer eingegebenen Informationen, die er in einem Kommunikationsnetz übermittelt, die nur der effizienteren Gestaltung der Informationsübermittlung dient, nicht verantwortlich, sofern talentify.me
			<ul>
				<li>die Information nicht verändert,</li>
				<li>die Bedingungen für den Zugang zur Information beachtet,</li>
				<li>die Regeln für die Aktualisierung der Information beachtet,</li>
				<li>die zulässige Anwendung von Technologien zur Sammlung von Daten über die Nutzung der Information nicht beeinträchtigt,</li>
				<li>und von talentify.me gespeicherte Information umgehend entfernt bzw. den Zugang zu ihr sperrt, sobald talentify.me über eine Sperr- oder Entfernungsanordnung informiert wird.</li>
			</ul>
		</li>
		<li>
			Sofern talentify.me von einem Nutzer eingegebene Informationen speichert, ist talentify.me für die im Auftrag des Nutzers gespeicherten Informationen nicht verantwortlich. Eine Haftungsverpflichtung kommt nur dann in Betracht,
			<ul>
				<li>wenn talentify.me von rechtswidrigen Tätigkeiten oder Informationen Kenntnis hat</li>
				<li>und es talentify.me technisch möglich und zumutbar ist, die Speicherung im Falle rechtswidriger Tätigkeiten oder Informationen zu verhindern.</li>
			</ul>
			talentify.me wird solche Informationen umgehend entfernen, sobald davon Kenntnis/Bewusstsein erlangt wird.
		</li>
		<li>Bei direkten oder indirekten Verweisen auf fremde Webseiten, die außerhalb des Verantwortungsbereichs von talentify.me liegen, kommt eine Haftungsverpflichtung ausschließlich dann in Betracht, wenn talentify.me von den Inhalten Kenntnis hat und es talentify.me technisch möglich und zumutbar ist, die Nutzung im Falle rechtswidriger Inhalte zu verhindern. Wenn talentify.me von derartigen Verweisen Kenntnis erlangt, werden sie umgehend entfernt.</li>
		<li>talentify.me erklärt, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den verlinkten Seiten erkennbar waren. Auf die aktuelle und künftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten Seiten hat talentify.me keinen Einfluss.</li>
		<li>Für illegale, fehlerhafte oder unvollständige Inhalte und Schäden, die aus der Nutzung derartiger Informationen entstehen, haftet ausschließlich der Anbieter der Seite, auf die verwiesen worden ist.</li>
		<li>Sofern talentify.me den Nutzern eine Suchmaschine oder andere elektronische Hilfsmittel zur Suche nach fremden Informationen bereitstellt, ist talentify.me für die abgefragten Informationen nicht verantwortlich, sofern talentify.me die Übermittlung der abgefragten Informationen nicht veranlässt, den Empfänger der abgefragten Informationen nicht auswählt und die abgefragten Informationen weder auswählt noch verändert.</li>
		<li>Wenn die Person, von der die abgefragten Informationen stammen, talentify.me untersteht oder von talentify.me beaufsichtigt wird, tritt Punkt 8 außer Kraft.</li>
	</ol>
	<h4>5. Haftung und Verantwortung des Nutzers</h4>
	<ol>
		<li>Der Nutzer ist für den Inhalt seiner Registrierung, seiner Nachrichten, Lernhilfeangebote und Fotos selbst verantwortlich.</li>
		<li>Nur Nutzer mit verifizierter E-Mailadresse können www.talentify.me uneingeschränkt nutzen.</li>
		<li>Dem Nutzer ist es nicht erlaubt, Inhalte oder Informationen anderer Nutzer (systematisch) auszulesen.</li>
		<li>Der Nutzer verpflichtet sich, talentify.me für Schäden schad- und klaglos zu halten, die durch ihn im Zusammenhang mit Ansprüchen, Forderungen, Klagen, etc. wegen übler Nachrede, Beleidigungsdelikten, Verletzung von Persönlichkeits- oder Immaterialgüterrechten, wegen des Ausfalls von Dienstleistungen für andere Nutzer, einem Verstoß gegen diese AGBs oder sonstiger Rechte entstehen.</li>
		<li>
			Ferner verpflichtet sich der Nutzer, die Services auf www.talentify.me nicht missbräuchlich zu nutzen, insbesondere:
			<ul>
				<li>keine sittenwidrigen, obszönen, pornografischen oder rechts- /linksradikale, gewalttätige Inhalte oder Fotos zu verbreiten</li>
				<li>kein diffamierendes, anstößiges oder rechtswidriges Material oder Informationen darüber zu verbreiten</li>
				<li>andere Personen nicht zu bedrohen, zu belästigen oder deren sonstige Rechte zu verletzten</li>
				<li>keine Daten hochzuladen, die Viren enthalten</li>
				<li>keine Daten hochzuladen, die urheberrechtlich geschützt sind (außer er besitzt die Urheberrechte oder verfügt über die entsprechenden Einwilligungen)</li>
				<li>keine falschen Adressdaten anzugeben</li>
				<li>die Website nicht auf eine Art zu benutzen, die die Verfügbarkeit der Angebote für andere Nutzer nachteilig beeinflusst</li>
				<li>keine Informationen (E-Mails, Nachrichten, etc.) abzufangen oder dies zu versuchen</li>
				<li>keine Kettenbriefe, rechtswidrige Strukturvertriebe oder Ähnliches zu versenden</li>
				<li>•	nicht mit unerlaubten Mitteln Traffic zu erzeugen.</li>
			</ul>
		</li>
		<li>
			Das Nichtbeachten der oben genannten Verhaltenspflichten kann zu folgenden Sanktionen führen:
			<ul>
				<li>Aufforderung zur Stellungnahme</li>
				<li>Verwarnung</li>
				<li>Beschränkung der Nutzung</li>
				<li>Löschen von Inhalten</li>
				<li>Sperrung der Nutzung</li>
			</ul>
			Darüber hinaus behält sich talentify.me auch rechtliche Schritte vor.
		</li>
	</ol>
	<h4>6. Urheberrecht</h4>
	<ol>
		<li>Die Nutzer sind für die Prüfung allfälliger Rechte Dritter an den von ihnen eingestellten Inhalten selbst verantwortlich und haften alleine für eine allfälligen Verletzung derartiger Rechte.</li>
		<li>Der Nutzer überträgt talentify.me sämtliche für die Nutzung von www.talentify.me erforderlichen Rechte, insbesondere das Recht zur Vervielfältigung, Verbreitung, Übertragung, Sendung, Bearbeitung, Entnahme aus einer Datenbank zum Abruf und zwar zeitlich, örtlich und inhaltlich in dem notwendigen Umfang. Die vorgenannten Rechte berechtigen uns zur Schaltung mittels aller bekannten technischen Verfahren sowie aller bekannten Formen von Online-Medien.</li>
		<li>Sämtliche Inhalte, Informationen, Logos, Bilder, Designs, Layout, Applikationen, Tondokumente, Videosequenzen, Beschreibungen, Abbildungen und Grafiken usw. stehen und bleiben – samt den damit verbundenen Rechten – im Eigentum des jeweiligen Inhabers. Der Nutzer erhält daran keine wie immer gearteten Werknutzungs- oder Verwertungsrechte. Die Änderung, Verbreitung, Vervielfältigung, Veröffentlichung und die Weitergabe an Dritte ist nicht gestattet.</li>
		<li>Alle innerhalb www.talentify.me genannten und allenfalls durch Dritte geschützte Marken- und Warenkennzeichen unterliegen uneingeschränkt den Bestimmungen des jeweiligen Schutzgesetzes und stehen im Eigentum der jeweiligen Inhaber. talentify.me haftet dem Nutzer nicht dafür, dass die von ihm übermittelten oder bereitgestellten Daten und Inhalte frei von Rechten Dritter sind. Der Nutzer hält talentify.me diesbezüglich schad- und klaglos.</li>
		<li>Sofern die von talentify.me angebotene Software bzw. die angebotenen Bild-, Musik-, Videodateien oder Ähnliches mit technischen Schutzvorrichtungen versehen sind, ist es nicht gestattet, diese Vorrichtungen zu umgehen.</li>
	</ol>
	<h4>7. Gewährleistung und Schadenersatz</h4>
	<ol>
		<li>talentify.me haftet nicht für Leistungsausfälle, die nicht seiner Sphäre zuzurechnen sind, wie insbesondere technische Ausfälle, höhere Gewalt oder Streik.</li>
		<li>Schadenersatzansprüche gegen talentify.me, die sich aus der Nutzung von www.talentify.me ergeben oder im Zusammenhang mit Rechtsgeschäften entstehen, werden ausgeschlossen, sofern es sich nicht um einen Schaden an einer Person handelt oder talentify.me oder eine Person, für die talentify.me einzustehen hat, den Schaden vorsätzlich oder grob fahrlässig verschuldet hat.</li>
	</ol>
	<h4>8. Datenschutz</h4>
	<p>Die Datenschutzbestimmungen von talentify.me sind unter <a href="http://www.talentify.me/content/datenschutz" target="_blank">www.talentify.me/content/datenschutz</a> abrufbar.</p>
	<h4>9. Kündigung/Beendigung des Vertragsverhältnisses</h4>
	<ol>
		<li>Der Nutzer hat jederzeit das Recht, den Vertrag über seine Nutzung von www.talentify.me mit sofortiger Wirkung zu kündigen. Die Kündigung erfolgt durch das Löschen des eigenen Benutzerkontos.</li>
		<li>talentify.me kann den Vertrag jederzeit aus wichtigem Grund fristlos kündigen. Ein wichtiger Grund liegt in jeder nicht nur unerheblichen Pflichtverletzung des Nutzers, insbesondere in einem Verstoß gegen diese AGB. Gesetzliche Kündigungsrechte bleiben unberührt.</li>
		<li>Das Vertragsverhältnis endet automatisch, wenn talent 2 talent GmbH die Plattform www.talentify.me einstellt.</li>
		<li>Für den Fall, dass talent 2 talent GmbH www.talentify.me oder Teile davon an einen Dritten verkauft, wird der Nutzer talentify.me aus seinen Vertragspflichten entlassen. Der Nutzer stimmt für diesen Fall einer Übertragung der Vertragspflichten auf den Dritten zu.</li>
	</ol>
	<h4>10. Salavatorische Klausel</h4>
	<p>Sollten einzelne Bestimmungen dieser Vereinbarung unwirksam oder undurchführbar sein oder nach Vertragsschluss unwirksam oder undurchführbar werden, bleibt davon die Wirksamkeit des Vertrages im übrigen unberührt. An die Stelle der unwirksamen oder undurchführbaren Bestimmung soll diejenige wirksame und durchführbare Regelung treten, deren Wirkungen der wirtschaftlichen Zielsetzung am nächsten kommen, die die Vertragsparteien mit der unwirksamen bzw. undurchführbaren Bestimmung verfolgt haben. Die vorstehenden Bestimmungen gelten entsprechend für den Fall, dass sich der Vertrag als lückenhaft erweist.</p>
	<h4>11. Gerichtsstand, Rechtswahl, Erfüllungsort</h4>
	<p>Für sämtliche Rechtsstreitigkeiten aus diesem Vertrag gilt österreichisches Recht. Die Anwendbarkeit des UN-Kaufrechtes wird ausgeschlossen.</p>
	<p>Es wird inländische Gerichtsbarkeit vereinbart. Handelt es sich nicht um ein Verbrauchergeschäft (in welchem Fall § 14 KSchG gilt), ist zur Entscheidung sämtlicher Rechtsstreitigkeiten aus diesem Vertrag das am Sitz von talentify.me sachlich zuständige Gericht ausschließlich örtlich zuständig.</p>
	<p>Erfüllungsort ist der Sitz der talent 2 talent GmbH.</p>
</div>