@{
    ViewBag.Title = "Agb";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<p>Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text</p>
<p>Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text Agb Text</p>