@model Talentify.ORM.FrontendLogic.Models.Login

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container" class="form">
	<section id="register">
		<h1 class="desktop"><span>Die einzigartige & nachhaltige Lernhilfe -</span><br/><span>von Schülern für Schüler</span></h1>
		<article class="msg-container" id="msg-container">
			<div id="msg-error" class="msg error"><h2>Registrierungsbestätigung fehlgeschlagen</h2><p>Der angegebene Code ist leider ungültig oder wurde schon freigeschalten.</p></div>
			<div id="msg-success" class="msg success">
				<h2>Registrierung abgeschlossen</h2>
				<p>Deine Anmeldung wurde erfolgreich abgeschlossen.</p>
			</div>
		</article>
	</section>
</div>
