@model Talentify.ORM.DAL.Models.User.Student

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomCss 
{
	<link rel="stylesheet" href="/Scripts/Textboxlist/TextboxList.css" />
	<link rel="stylesheet" href="/Scripts/Textboxlist/TextboxList.Autocomplete.css" />
}

@section CustomJavascript 
{
	<script src="/Scripts/talentify-utils.min.js"></script>
	<script src="/Scripts/jquery.browser.min.js"></script>
	<script src="/Scripts/Textboxlist/GrowingInput.js"></script>
	<script src="/Scripts/Textboxlist/TextboxList.js"></script>
	<script src="/Scripts/Textboxlist/TextboxList.Autocomplete.js"></script>
}

<script>
	$(document).ready(function()
	{
		@if (ViewBag.IsTalentecheck)
		{
			<text>$('.talentecheck').show();</text>
			<text>$('#bubble-register').css('display', 'none');</text>
		}

		if (getUrlParam('m').length > 0)
		{
			$('#Email').val(getUrlParam('m'));
		}
	});
</script>

@*@section CustomAfterBody
{
	@if (ViewBag.IsTalentecheck)
	{
		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-57NRFB" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-57NRFB');</script>
		<!-- End Google Tag Manager -->
	}
}*@

<div id="page-container" class="form">
	<section id="register">
		<header>
			<div class="bubble t-button desktop" id="bubble-register"></div>
			<img src="/Images/talentecheck-header.png" class="talentecheck"/>
			<h2>Anmelden</h2>
			<div class="talentecheck" style="margin: 0 0 20px 0;">
				<span style="font-size:16px;display:block;margin-bottom: 15px;">...und tolle Preise gewinnen!</span>
			</div>
			<div id="first-login-info-right" class="talentecheck" style="top:-10px;right:150px;">
				<img src="/Images/pfeil-rechts.png"/><br/>
				<span>Bist du schon registriert? Dann einfach hier einloggen!</span>
			</div>
		</header>
		<article class="msg-container" id="msg-container">
			<div id="msg-error" class="msg error"><h2>Anmeldung fehlgeschlagen</h2><p></p></div>
			<div id="msg-success" class="msg success"><h2>Anmeldung erfolgreich</h2><p>Ein E-Mail mit Bestätigungslink wurde an deine E-Mail Adresse versendet. </p></div>
		</article>
		@if (FormSuccess == null)
  {
			@Html.Partial("Forms/_Register", Model)
		}
	</section>
</div>