@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomJavascript 
{
	<script>
		$(this).ready(function ()
		{
			$('#header-login').hide();
		});

		function checkLoginErrorEnterClick(e)
		{
			if (e.keyCode == 13)
			{
				submitLoginScreenForm();
				return false;
			}

			return true;
		}
	</script>
}

<div id="page-container">
	<section>
		<div class="msg-container visible">
			<div id="msg-error" class="msg error">
				<h2>Login fehlgeschlagen</h2>
				<p>Falsche Login Daten!</p>
			</div>
		</div>
		@using (Html.BeginForm("Login", "Login", FormMethod.Post, new {@class = "form-container register"}))
		{
			<article class="password-form">
				
				<div class="field-container">
					<input type="text" id="login-email-screen" class="mandatory" placeholder="E-Mail Adresse" onkeypress="checkLoginErrorEnterClick(event)"/>
					<input type="password" id="login-password-screen" class="mandatory" placeholder="Passwort" onkeypress="checkLoginErrorEnterClick(event)"/>
				</div>
				<div class="field-container desktop">
					<input type="button" value="Log-In" onclick="submitLoginScreenForm(); "/>
				</div>
				<div class="field-container">
					@Html.ActionLink("Passwort vergessen?", "Password", "Login")
				</div>
			</article>
		}
	</section>
</div>
