@{
    ViewBag.Title = "PasswordReset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
	function validatePasswortResetForm()
	{
		// validate mandatory fields
		if (!validateMandatoryFields())
		{
			return false;
		}

		// check if passwort confirm is okay
		if ($('#password').val() != $('#password2').val())
		{
			showErrorMsg("Fehlerhalte Eingabe", "Passwort und Passwort Wiederholung sind nicht identisch", false);
			return false;
		}

		return true;
	}
</script>

<div id="page-container" class="form">
	<section id="register">
		<header>
			<div class="sprite t-button desktop"></div>
			<h2>Passwort zurücksetzen</h2>
		</header>
		<article class="msg-container" id="msg-container">
			<div id="msg-error" class="msg error"><h2></h2><p></p></div>
			<div id="msg-success" class="msg success"><p>Dein Passwort wurde erfolgreich zurückgesetzt. Du kannst dich ab jetzt mit deinem neuen Passwort anmelden.</p></div>
		</article>
		@if (Convert.ToBoolean(ViewBag.ShowForm))
		{
			using (Html.BeginForm("PasswordReset", "Login", FormMethod.Post, new { @class = "form-container register" }))
			{
				<article id="register-form">
					<div class="field-container">
						<input type="hidden" name="token" value="@Request["token"]"/>
						<input type="password" name="password" id="password" placeholder="Neues Passwort" class="mandatory"/>
						<input type="password" name="password2" id="password2" placeholder="Neues Passwort wiederholen" class="mandatory"/>
					</div>
					<div class="field-container desktop">
						<input type="submit" value="Passwort zurücksetzen" onclick="return validatePasswortResetForm();"/>
					</div>
				</article>
			}
		}
	</section>
</div>
