@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomJavascript 
{
	<script>
		$(this).ready(function ()
		{
			$('#header-login').hide();
		});

		function checkPasswordResetEnterClick(e)
		{
			if (e.keyCode == 13)
			{
				//submitLoginScreenForm();
				return false;
			}

			return true;
		}
	</script>
}

<div id="page-container">
	<section>
		<header>
			<div class="sprite t-button desktop"></div>
			<h2>Passwort vergessen?</h2>
		</header>
		@if (FormSuccess == null)
		{
			using (Html.BeginForm("Password", "Login", FormMethod.Post, new {@class = "form-container register"}))
			{
				<article class="password-form">
					<div class="field-container">
						<input type="text" id="email" name="email" class="mandatory" placeholder="E-Mail Adresse" onkeypress=" checkPasswordResetEnterClick(event) "/>
					</div>
					<div class="field-container desktop">
						<input type="submit" value="Passwort zurücksetzen" onclick="return validateMandatoryFields();"/>
					</div>
					<div class="field-container">
						@Html.ActionLink("Zurück zum Login", "Error", "Login")
					</div>
				</article>
			}
		}
		else
		{
			<div class="msg-container visible" style="margin:20px 0 0 0;">
				<div id="msg-success" class="msg success">
					<p>Eine E-Mail wurde erfolgreich versendet. Bitte folge den weiteren Anweisungen in dieser.</p>
				</div>
			</div>
		}
	</section>
</div>