@inherits Talentify.ORM.Mvc.FormView<Talentify.ORM.DAL.Models.Coaching.CoachingOffer>

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<article>
	<div class="msg-container" id="msg-container">
		<div id="msg-error" class="msg error"><h2>Speicherfehler</h2><p>Ein unerwateter Fehler ist aufgetreten. Bitte versuche es erneut.</p></div>
		<div id="msg-success" class="msg success"><h2>Lernhilfe erfolgreich hinzugefügt.</h2><p>Deine Lernhilfe wurde deinem Profil hinzugefügt.</p></div>
	</div>
	@if (FormSuccess == null)
	{
		using (Html.BeginForm("AddCoaching", "Profile", FormMethod.Post, new {@class = "form-container"}))
		{
			@Html.HiddenFor(m => m.UserId)
			<div class="field-container">
				<label>Ich gebe Lernhilfe in:</label>
				@Html.DropDownListFor(m => m.SubjectCategoryId, OpenCoachingSubjects, "bitte auswählen", new {@class = "mandatory"})
				<label>Schulstufe:</label>
				<select style="width:252px;margin-right: 5px;" class="mandatory" name="FromClass">
					<option value="">bitte auswählen</option>
					<optgroup label="Volksschule">
						<option value="1">1. Klasse</option>
						<option value="2">2. Klasse</option>
						<option value="3">3. Klasse</option>
						<option value="4">4. Klasse</option>
					</optgroup>
					<optgroup label="Mittelschule (HS, NMS, Unterstufe)">
						<option value="5">1. Klasse</option>
						<option value="6">2. Klasse</option>
						<option value="7">3. Klasse</option>
						<option value="8">4. Klasse</option>
					</optgroup>
					<optgroup label="Höhere Schule (HTL, HAK, Oberstufe, ...)">
						<option value="9">1./5. Klasse</option>
						<option value="10">2./6. Klasse</option>
						<option value="11">3./7. Klasse</option>
						<option value="12">4./8. Klasse</option>
						<option value="13">5. Klasse</option>
					</optgroup>
				</select>
				bis 
				<select style="width:252px;margin-left: 5px;" class="mandatory" name="ToClass">
					<option value="">bitte auswählen</option>
					<optgroup label="Volksschule">
						<option value="1">1. Klasse</option>
						<option value="2">2. Klasse</option>
						<option value="3">3. Klasse</option>
						<option value="4">4. Klasse</option>
					</optgroup>
					<optgroup label="Mittelschule (HS, NMS, Unterstufe)">
						<option value="5">1. Klasse</option>
						<option value="6">2. Klasse</option>
						<option value="7">3. Klasse</option>
						<option value="8">4. Klasse</option>
					</optgroup>
					<optgroup label="Höhere Schule (HTL, HAK, Oberstufe, ...)">
						<option value="9">1./5. Klasse</option>
						<option value="10">2./6. Klasse</option>
						<option value="11">3./7. Klasse</option>
						<option value="12">4./8. Klasse</option>
						<option value="13">5. Klasse</option>
					</optgroup>
				</select>
				<label>Weitere Informationen:</label>
				@Html.TextAreaFor(m => m.Comments, new {@maxlength = "140"})
			</div>
			<div class="field-container">
				<input type="submit" value="Speichern" onclick=" return validateCoachingForm(); "/>
			</div>
		}
	}
	else
	{
		<script>
			window.parent.loadMyProfileCoachings(true, @LoggedUser.Id);
			setTimeout(function () { window.parent.hideModal('modal-add-coaching'); }, 3000);
		</script>
	}
</article>