<h3>Badges:</h3>
<div class="badge-item">
	<img src="/Images/badge-greenhorn.png"/>
	<span>Greenhorn</span>
</div>
<div class="badge-item">
	<img src="/Images/badge-heisenberg.png"/>
	<span>I <3 Math</span>
</div>
<div class="badge-item">
	<img src="/Images/badge-peermeister.png"/>
	<span>Peer Meister</span>
</div>
<div class="badge-item">
	<img src="/Images/badge-lerntiger.png"/>
	<span>Lerntiger</span>
</div>
<div class="badge-item">
	<img src="/Images/badge-infinity.png"/>
	<span>Infinity</span>
</div>
<div class="badge-item">
	<img src="/Images/badge-eistmc2.png"/>
	<span>E=MC2</span>
</div>
<div class="badge-item">
	<img src="/Images/badge-h2g2.png"/>
	<span>H2G2</span>
</div>
<div class="badge-item">
	<img src="/Images/badge-genius.png"/>
	<span>Genie</span>
</div>