<h2 class="antwort-h2" >Du bist:</h2>
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a1" name="answer" class="talentify-radio"/><label for="a1"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a1">männlich</label></div>
</div>
                        
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a2" name="answer" class="talentify-radio"/><label for="a2"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a2">weiblich</label></div>
</div>  
                        
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a3" name="answer" class="talentify-radio"/><label for="a3"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a3">noch nicht sicher</label></div>
</div>