<h2 class="antwort-h2" >5.  Worauf achtest du bei anderen am meisten?</h2>
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a1" name="answer" class="talentify-radio"/><label for="a1"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a1">Auf ihre Intelligenz - ich will mich ja unterhalten können!</label></div>
</div>
                        
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a2" name="answer" class="talentify-radio"/><label for="a2"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a2">Auf ihre Art - Gezicke brauch ich gar nicht!</label></div>
</div>  
                        
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a3" name="answer" class="talentify-radio"/><label for="a3"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a3">Auf Äußeres - man sollte schon wissen, was einem steht!</label></div>
</div>  
                        
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a4" name="answer" class="talentify-radio"/><label for="a4"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a4">Auf Ausgefallenheit - Mainstream ist zum Kotzen!</label></div>
</div>