<h2 class="antwort-h2" >3.  Was ist dein Lieblingsfach?</h2>
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a1" name="answer" class="talentify-radio"/><label for="a1"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a1">Sport - ich kann einfach nicht lange still sitzen!</label></div>
</div>
                        
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a2" name="answer" class="talentify-radio"/><label for="a2"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a2">Eigentlich bin ich überall ziemlich gut - vor allem in Mathe!</label></div>
</div>  
                        
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a3" name="answer" class="talentify-radio"/><label for="a3"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a3">Sprachen - reden ist einfach meine Stärke!</label></div>
</div>  
                        
<div class="row antwort-auswahl">
    <div class="col-xs-1 hidden-xs"></div>
    <div class="col-xs-1"><input type="radio" id="a4" name="answer" class="talentify-radio"/><label for="a4"><span></span></label></div>
    <div class="col-xs-9 col-xs-offset-1 col-sm-offset-0"><label for="a4">Musik/Zeichnen/etc. - sich kreativ austoben macht einfach Spaß!</label></div>
</div>