@inherits Talentify.ORM.Mvc.FormView<Talentify.ORM.FrontendLogic.Models.SearchParams>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomJavascript 
{
	<script>
		$(this).ready(function()
		{
			searchTeachers();
		});
	</script>
}

<div id="page-container">
	<section id="search">
		<article>
			<header>
				<div class="bubble t-button desktop" id="bubble-search"></div>
				<h2>MentorIn finden</h2>
			</header>
			@using (Html.BeginForm("Index", "Teacher", FormMethod.Post, new {@class = "form-container search"}))
			{
				<div class="field-container">
					@Html.DropDownListFor(m => m.SchoolId, AllSchools, "Schule")
					@Html.DropDownListFor(m => m.SubjectCategoryId, AllCoachingSubjects, "Schulfach")
					<input type="button" value="Finden" onclick="searchTeachers();"/>
				</div>
			}
		</article>
	</section>
	<div id="search-loading">Lade Suchergebnisse ...</div>
	<section id="search-results"></section>
</div>
