@{
    ViewBag.Title = "Blocked";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<article class="event-registration-popup">
	<div class="msg-container visible" id="msg-container">
		<div id="msg-error" class="msg error">
			<h2 style="margin: 0 0 15px 0;">Dein Workshop Zugang ist Gesperrt</h2>
			<p>Du hast dich bereits zwei Mal für einen Workshop angemeldet, hast dann aber leider nicht teilgenommen. Aus diesem Grund, haben wir dich vorübergehend vom Workshop Programm gesperrt. Das heißt, du kannst dich bis auf weiteres für keine Academy Workshops mehr anmelden.</p>
			<p>Solltest du Fragen haben, kannst du dich jeder Zeit gerne bei uns melden. Einfach per E-Mail an <a href="mailto:support@talentify.me">support@talentify.me</a> oder per Facebook unter <a href="https://www.facebook.com/talentify.me" target="_blank">https://www.facebook.com/talentify.me</a></p>
		</div>
	</div>
</article>