<h1><a href="/"><img src="/Images/logo.png" alt="talentify"/></a></h1>
<div class="login" id="header-login">
	<input type="text" id="login-email" placeholder="E-Mail Adresse"/><input type="password" id="login-password" placeholder="Passwort"/><a href="javascript:void(0);" onclick="login()" class="link-button desktop">Log-In</a>
</div>