@{
    ViewBag.Title = "Tour";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@section CustomCss
{
	<link rel="stylesheet" href="/Css/voiceStyle.min.css">
}

@section CustomJavascript 
{
	<!-- Slick Slideshow -->
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.2/slick.min.js"></script>
	<script type="text/javascript" src="/Scripts/slideshow.min.js"></script>
	<script src="/Scripts/talentify-home.min.js"></script>
	<script>
		hasWaypoints = true;
		$(document).ready(function ()
		{
			HomePage.init();
		});
	</script>
}

		<div id="headerbg">
		<div class="row hidden-xs" id="header">
			<div class="row">
				<div class="col-xs-12 col-sm-6 hidden-md hidden-lg">
					<a href="/"><img src="/Images/header_logo.png" class="logo" alt="talentify.me"/></a>
				</div>
				<div class="col-md-3 hidden-xs hidden-sm no-gutter">
					<a href="/"><img src="/Images/header_logo.png" class="mdlglogo" alt="talentify.me"/></a>
				</div>
				<div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-6">
					<p class="account">Du hast einen Account?</p>
					<a href="/Login" class="buttonlink">
						<button type="button" class="greenbutton_header btn btn-primary btn-lg visible-sm-* visible-md-* visible-lg-*">
							<b>Anmelden</b>
						</button>
					</a>
				</div>	
			</div>
			<div class="row hidden-md hidden-lg">
				<div class="col-xs-12 col-sm-9">
					<h1 class="white">&bdquo;Gemeinsam <br/> durch die Schule&ldquo;</h1>
				</div>
				<div class="col-xs-12 col-sm-9">
					<img src="/Images/header_dots.png" class="dots" alt="Dots"/>
				</div>
				<div class="col-xs-12 col-sm-5">
					<p>Was sagen SchülerInnen, Eltern, Schulen und Medien über talentify.me?</p>
				</div>				
			</div>
			<div class="row hidden-xs hidden-sm">
				<div class="col-md-9 no-gutter">
					<h1 class="white">&bdquo;Gemeinsam <br/> durch die Schule&ldquo;</h1>
				</div>
				<div class="col-md-9 no-gutter">
					<img src="/Images/header_dots.png" class="dots" alt="Dots"/>
				</div>
				<div class="col-md-5 no-gutter">
					<p>Was sagen SchülerInnen, Eltern, Schulen und Medien über talentify.me?</p>
				</div>				
			</div>
		</div>
		</div>	
			
		@Html.Partial("_MobileHeaderPublic")
		
		<div class="row" id="video">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
					<div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
						<iframe allowfullscreen="" src="https://www.youtube.com/embed/trBiyjYfKUM?feature=player_detailpage" frameborder="0"></iframe>
					</div>
				</div>
			</div><br/>
			<div class="row">
				<div class="hidden-xs hidden-sm col-md-2 col-md-offset-2">
					<img src="/Images/voice_arrow.png" alt="Pfeil"/>
				</div>
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-sm-offset-0">
					<br/><h3 class="blue">Wenn Schüler Schülern Nachhilfe geben</h3><br/>
					<p class="blue">Ein Beitrag von Café Puls über talentify.me der am 6. Oktober 2014 im Frühstücksfernsehen ausgestrahlt wurde.</p>
				</div>
			</div>
		</div>
		
		<div id="commentbg">
		<div class="row" id="comment">
			<div class="col-xs-12 col-sm-4 col-md-4">
				<img src="/Images/voice_schueler-lea.jpg" class="img-circle" alt="Melanie H."/>
				<h3 class="blue">&bdquo;Ich finde die Idee hinter talentify.me und die Plattform echt super und nutze das Angebot <br/> total gern!&ldquo;</h3>
				<br/>
				<p class="blue">Lea P., VBS Schönborngasse</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<img src="/Images/voice_schueler-florian.jpg" class="img-circle" alt="Kristof M."/>
				<h3 class="blue">&bdquo;Über talentify.me Lernhilfe zu geben macht mir richtig Spaß. Und Punkte im Talentometer zu sammeln sowieso! ;-)&ldquo;</h3>
				<br/>
				<p class="blue">Florian T., GRG 16</p>
			</div>			
			<div class="col-xs-12 col-sm-4 col-md-4">
				<img src="/Images/voice_schueler-mia.jpg" class="img-circle" alt="Paul T."/>
				<h3 class="blue">&bdquo;Habe dank talentify.me Lernhilfe gefunden und mich in Mathe schon um 2 Noten verbessert! <br/> Voll cool!&ldquo;</h3>
				<br/>
				<p class="blue">Mia M. Gymnasium Maria Regina</p>
			</div>		
		</div>
		</div>
		
		<div class="row" id="newspaper">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<img src="/Images/voice_kurier.jpg" alt="Kurier"/>
					<h2 class="blue">&bdquo;Schüler geben<br/>gratis Nachhilfe&ldquo;</h2>
					<p class="blue">22. April 2015, <a class="newspaper" href="http://kurier.at/chronik/niederoesterreich/internet-plattform-schueler-geben-gratis-nachhilfe/126.584.429" target="blank">Kurier</a></p>
				</div>			
				<div class="col-xs-12 col-sm-6 col-md-6">
					<img src="/Images/voice_derstandard.jpg" alt="Der Standard"/>
					<h2 class="blue">&bdquo;Plattform für Nachhilfe<br/>unter Schülern startet&ldquo;</h2>
					<p class="blue">16. März 2015, <a class="newspaper" href="http://derstandard.at/2000012982250/Plattform-fuer-Nachhilfe-unter-Schuelern-startet" target="blank">Der Standard</a></p>
				</div>	
			</div>
			<br/>
			<div class="row">	
				<div class="col-xs-12 col-sm-12 col-md-12">
					<h3 class="blue">Weitere Presseartikel:</h3><br/>
				</div>
				<br/>
				<div class="col-xs-12 col-sm-12 col-md-12">
					<p class="blue">24.02.2015 - <a class="newspaper" href="http://www.vienna.at/viennas-start-ups-bilungsspecial-teil-2-talentify-me/4246116" target="blank">Vienna.at: Vienna's Start-ups: Bildungsspecial Teil 2</a></p>
					<p class="blue">19.10.2014 - <a class="newspaper" href="https://www.youtube.com/watch?v=trBiyjYfKUM" target="blank">Puls 4: Wenn Schüler Schülern Nachhilfe geben - Café Puls </a></p>
					<p class="blue">16.03.2015 - <a class="newspaper" href="http://www.news.at/a/talentify.me-neue-nachhilfe-plattform" target="blank">News: Neue Nachhilfe-Plattform</a></p>
					<p class="blue">27.09.2014 - <a class="newspaper" href="http://diepresse.com/home/bildung/3876294/Zuruck-in-die-Schule-Na-ja-nicht-ganz" target="blank">Die Presse: Zurück in die Schule? Na ja, nicht ganz</a></p>
					<p class="blue">24.10.2014 - <a class="newspaper" href="http://neuwal.com/interviews/bernhard-hofer-talentify-interview.php" target="blank">Neuwal.com: Bernhard Hofer im Interview</a></p>
				</div>
			</div>
			<!--<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<br/><a href="blank.html" target="blank" class="linkgreen">Weiter zu unserer Presseseite <i class="icon-arrow hidden-xs fa fa-arrow-right fa-sm"></i></a>
				</div>			
			</div>-->			
		</div>
		
		<div id="parentsbg">
		<div class="row" id="parents">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 no-gutter">
					<h2 class="white">&bdquo;Es war eine schnelle, unkomplizierte aber sehr effektive Hilfe! Meiner Tochter macht Mathematik nun sichtlich mehr
					Spaß. Wir werden die Unterstützung von talentify.me weiterhin in Anspruch nehmen. Ich kann talentify nur weiter empfehlen!&ldquo;</h2>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
					<p class="red">Verena M. ist Mutter einer 10-jährigen Schülerin</p>
				</div>
			</div>			
		</div>	
		</div>
		
		<div class="row" id="teacher">
				<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-0">
					<img src="/Images/voice_direktorin-grubner.jpg" class="img-circle" alt="Eveline Grubner"/>
					<h3 class="blue">&bdquo;Es ist nicht möglich, dass wir in der Schule ein Face-to-Face Lernsetting finden. Und das kann talentify.me! Warum
					brauchen Schüler Lernhilfe? Es kann sein, dass Wissenslücken entstehen und da kann ein Lernen unter fast Gleichaltrigen
					sehr viel bewirken.&ldquo;</h3>
					<br/>
					<p class="blue">Eveline Grubner, Direktorin VBS Schönborngasse</p>
				</div>			
				<div class="col-xs-12 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-2">
					<img src="/Images/voice_lehrer-mair.jpg" class="img-circle" alt="Martin Mair"/>
					<h3 class="blue">&bdquo;Die Idee hinter talentify.me ist eine jener Ideen, die unser Bildungssystem weiterbringen können. Mit System und Struktur
					wird sinnvolle und günstige Lernhilfe für Schülerinnen und Schüler geschaffen. Gleichzeitig ist der Benefit für jene Schülerinnen
					und Schüler, die Lernhilfe geben, sehr groß. Es ist eine einfache, aber großartige Idee, die von talentify.me hier umgesetzt wird!&ldquo;</h3>
					<br/>
					<p class="blue">Martin Mair, Lehrer HTL Rennweg</p>
				</div>				
		</div>
		
		<div class="row" id="slideshow">
			<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
				<button type="button" data-role="none" class="prev"><i class="hidden-xs hidden-sm fa fa-arrow-left fa-lg"></i></button>
				<div class="slider center"> 
					<div><a href="http://www.g16.at/" target="blank"><img src="/Images/slideshow_grg16.png" alt="GRG 16"/></a></div>
					<div><a href="http://www.htlmistelbach.ac.at/" target="blank"><img src="/Images/slideshow_htl-mistelbach.png" alt="HTL Mistelbach"/></a></div>
					<div><a href="http://www.htl.rennweg.at/" target="blank" ><img src="/Images/slideshow_htl-rennweg.png" alt="HTL Rennweg"/></a></div>
					<div><a href="http://www.tgm.ac.at/" target="blank"><img src="/Images/slideshow_tgm.png" alt="TGM"/></a></div>
					<div><a href="https://schoenborngasse.vbs.ac.at/" target="blank"><img src="/Images/slideshow_vbs-schoenborngasse.png" alt="VBS Schönborngasse"/></a></div>
					<div><a href="http://www.g16.at/" target="blank"><img src="/Images/slideshow_grg16.png" alt="GRG 16"/></a></div>
					<div><a href="http://www.htlmistelbach.ac.at/" target="blank"><img src="/Images/slideshow_htl-mistelbach.png" alt="HTL Mistelbach"/></a></div>
					<div><a href="http://www.htl.rennweg.at/" target="blank"><img src="/Images/slideshow_htl-rennweg.png" alt="HTL Rennweg"/></a></div>
					<div><a href="http://www.tgm.ac.at/" target="blank"><img src="/Images/slideshow_tgm.png" alt="TGM"/></a></div>
					<div><a href="https://schoenborngasse.vbs.ac.at/" target="blank"><img src="/Images/slideshow_vbs-schoenborngasse.png" alt="VBS Schönborngasse"/></a></div>
				</div>
				<button type="button" data-role="none" class="next"><i class="hidden-xs hidden-sm fa fa-arrow-right fa-lg"></i></button>
			</div>
		</div>
		
		<div class="row" id="school">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<br/><p  class="blue">Diese Schulen unterstützen talentify.me und fördern dabei aktiv ihre SchülerInnen</p>
				<a href="https://docs.google.com/forms/d/14gzslkxqBh4qMtBrp_v9MZ8veaKrVnADL_dd3RUH1mc/viewform?c=0&w=1" class="linkgreen" target="_blank">Jetzt Partnerschule werden</a>				
			</div>					
		</div>	
		
		<div class="row" id="yourregistry">
			<div class="row">
				<div class="hidden-xs col-sm-12 col-md-12">
						<button type="button" class="redbutton normalbutton btn btn-primary btn-lg hidden-xs visible-sm-* visible-md-* visible-lg-* text-center">
							<a href="/Register" class="buttonlink">
								Jetzt kostenlos registrieren
							</a>
						</button>
				</div>
				<div class="hidden-sm hidden-md hidden-lg col-sm-12 col-md-12">
						<button type="button" class="redbutton mobilebutton btn btn-primary btn-lg visible-xs-* hidden-sm hidden-md hidden-lg text-center">
							<a href="/Register" class="buttonlink">
								Kostenlos registrieren
							</a>
						</button>
				</div>					
			</div>			
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<p class="blue">Noch Fragen? Wir haben die Antworten.</p>
					<a href="https://talentify.zendesk.com/hc/de" target="_blank" class="yra linkgreen">Zum talentify.me Hilfesystem </a>
				</div>				
			</div>	
		</div>
