<section>
	<h1 class="desktop"><span>Die einzigartige & nachhaltige Lernhilfe -</span><br/><span>von Schülern für Schüler</span></h1>
	<article class="msg-container visible">
		<div class="msg success">
			<h2>Registrierung abgeschlossen</h2>
			<p>Deine Anmeldung wurde erfolgreich abgeschlossen.</p>
		</div>
	</article>
	<article>
		<header><h2>Daten vervollständigen</h2></header>
		<p>
			@Html.ActionLink("Vervollständige jetzt deine Daten und sammle Bonuspunkte", "Index", "Profile")
		</p>
		<header><h2>Zur Startseite</h2></header>
		<p>@Html.ActionLink("Zur Startseite", "Index")</p>
	</article>
</section>