<section>
	<article>
			<header class="green">
				<div class="sprite t-button desktop"></div>
				<h2>Registrierung abgeschlossen</h2>
				<p>Deine Anmeldung war erfolgreich!</p>
			</header>
		</article>
	<article style="margin: 100px 0 0 0;">
		<p>@Html.ActionLink("Daten vervollständigen & Bonuspunkte kassieren", "Index", "Profile", null, new {@class="link-button"})</p>
		<p style="margin:0;padding:0;">oder</p>
		<p style="margin:0 0 50px 0;padding:0;">@Html.ActionLink("weiter zur Startseite", "Index")</p>
	</article>
</section>