<section>
	<h1 class="desktop"><span>Die einzigartige & nachhaltige Lernhilfe -</span><br/><span>von Schülern für Schüler</span></h1>
	<article class="msg-container visible">
		<div class="msg success">
			<h2>Registrierung abgeschlossen</h2>
			<p>Deine Anmeldung wurde erfolgreich abgeschlossen.</p>
		</div>
	</article>
	<article>
		<p>@Html.ActionLink("Vervollständige jetzt deine Daten und sammle Bonuspunkte", "Index", "Profile", new {@class="link-button"})</p>
		<p>@Html.ActionLink("Weiter zur Startseite", "Index")</p>
	</article>
</section>