<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 no-gutter">
		<h3 class="dots">............................................................................................................</h3>	
	</div>
</div>
		
<div class="row hidden-xs" id="footer">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<p class="blue company">Entwickelt vom Sozialunternehmen talent 2 talent GmbH in Wiener Neustadt</p>
		</div>				
	</div>	
	<br/>		
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p><b>
			<a href="/Home/About">Über uns</a> <i class="fa fa-circle xs"></i> 
			<a href="http://www.talentify.co" target="_blank">Für Unternehmen</a> <i class="fa fa-circle xs"></i> 
			<a href="http://blog.talentify.me/" target="_blank">Blog</a> <i class="fa fa-circle xs"></i> 
			<a href="http://talentify.onerecruit.com/" target="_blank">Jobs</a> <i class="fa fa-circle xs"></i> 
			<a href="/Content/Impressum">Impressum</a>
			</b></p>
		</div>	
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p><b>
			<a href="/Content/Datenschutz">Datenschutzbestimmungen</a> <i class="fa fa-circle xs"></i> 
			<a href="/Content/Agb">AGB</a> <i class="fa fa-circle xs"></i> 
			<a href="https://talentify.zendesk.com/hc/de" target="_blank">Hilfesystem/FAQ</a>
			</b></p>
		</div>		
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p><b>
			<a href="https://talentify.zendesk.com/hc/de/requests/new" target="_blank">Kontaktiere uns</a> <i class="fa fa-circle xs"></i></b>
			<a href="mailto:presse@talentify.at" class="thin">Pressekontakt:<b> presse@talentify.at</b></a>
			</p>
		</div>						
	</div>	
	<br/>
	<div class="row">
			<a href="https://www.facebook.com/talentify.me" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
			<a href="https://www.youtube.com/channel/UCk2GGWtiieEeg47yVh7ub8g" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>	
			<a href="https://twitter.com/talentify_me" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
			<a href="http://de.slideshare.net/talentify" target="_blank"><i class="fa fa-slideshare fa-2x"></i></a>
			<a href="https://de.pinterest.com/talentifyme/" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>
	</div>
</div>	
		
<div class="row hidden-sm hidden-md hidden-lg" id="mobilefooter">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
		<p class="blue company">Entwickelt vom Sozialunternehmen talent 2 talent GmbH in Wiener Neustadt</p>
		</div>				
	</div>	
	<br/>		
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<p>
			<a href="/Home/About">Über uns</a> <br/> 
			<a href="http://www.talentify.co" target="_blank">Für Unternehmen</a> <br/> 
			<a href="http://blog.talentify.me/" target="_blank">Blog</a> <br/> 
			<a href="http://talentify.onerecruit.com/" target="_blank">Jobs</a> <br/> 
			<a href="/Content/Impressum">Impressum</a> <br/> 
			<a href="/Content/Datenschutz">Datenschutzbestimmungen</a> <br/> 
			<a href="/Content/Agb">AGB</a> <br/> 
			<a href="https://talentify.zendesk.com/hc/de" target="_blank">Hilfesystem/FAQ</a> <br/> 
			<a href="https://talentify.zendesk.com/hc/de/requests/new" target="_blank">Kontaktiere uns</a> <br/> 
			<a href="mailto:presse@talentify.at" class="thin">Pressekontakt:<b> presse@talentify.at</b></a>
			</p>
		</div>						
	</div>	
	<br/>
	<div class="row sn">
			<a href="https://www.facebook.com/talentify.me" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
			<a href="https://www.youtube.com/channel/UCk2GGWtiieEeg47yVh7ub8g" target="_blank"><i class="fa fa-youtube fa-2x"></i></a>	
			<a href="https://twitter.com/talentify_me" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
			<a href="http://de.slideshare.net/talentify" target="_blank"><i class="fa fa-slideshare fa-2x"></i></a>
			<a href="https://de.pinterest.com/talentifyme/" target="_blank"><i class="fa fa-pinterest fa-2x"></i></a>
	</div>
</div>