<div id="mobileheaderbg">
		<div class="row hidden-sm hidden-md hidden-lg" id="mobileheader">
			<div class="row">
				<div class="col-xs-8">
					<a href="/"><img src="/Images/header_logo.png" class="logo" alt="logo"/></a>
				</div>	
				<div class="col-xs-2 col-xs-offset-2">
					<img src="/Images/header_menu.png" class="menu" id="mobilemenutrigger" alt="logo"/>
				</div>
				<div class="col-xs-12" id="mobilemenu">
					<div class="row">
						<a href="/">Startseite</a>
					</div>	
					<hr/>
					<div class="row">
						<a href="/Home/Tour">Rundgang</a>
					</div>	
					<hr/>
					<div class="row">
						<a href="/Home/Voice">Stimmen zu talentify.me</a>
					</div>
					<hr/>					
					<div class="row">
						<a href="/Home/About">About</a>
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<h1 class="white">&bdquo;Lernhilfe auf Augenhöhe, super!&ldquo;</h1>
				</div>					
			</div>
			<div class="row">
				<div class="col-xs-12">
						<button type="button" class="redbutton mobilebutton btn btn-primary btn-lg text-center">
							<a href="blank.html" class="buttonlink">
								Kostenlos registrieren
							</a>
						</button>
				</div>
			</div>
		</div>
		</div>