@{
    ViewBag.Title = "FeedbackForm";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}


<article class="feedback-form-container">
	<div class="msg-container" id="msg-container">
		<div id="msg-success" class="msg success"><p>Vielen Dank für dein Feedback und die Mithilfe talentify.me weiterzuentwickeln.</p></div>
	</div>
	@if (FormSuccess == null)
	{
		using (Html.BeginForm("FeedbackForm", "FormHelper", FormMethod.Post, new { @class = "form-container" }))
		{
			<h2>Hilf uns talentify.me zu verbessern</h2>
			<p style="margin: 10px 0 10px 0;padding: 0;">Die online Plattform talentify.me befindet sich gerade in einer Testphase und wir sind laufend bemüht diese weiterzuentwickeln. Ob allgemeine Verbesserungen, kleine Anpassungen oder neue Funktionen. Wir zählen auf deine Unterstützung: hilf uns talentify.me noch besser zu machen.</p>
			<div class="field-container">
				<select name="type" id="type" class="mandatory">
					<option>Allgemeines Feedback</option>
					<option>Idee für neue Funktion</option>
					<option>Ich habe einen Fehler gefunden</option>
					<option>Liebesbrief</option>
				</select>
				<textarea name="feedback" id="feedback" class="mandatory" style="height:140px;border-top:0;"></textarea>
			</div>
			<div class="field-container">
				<input type="submit" value="Senden" onclick="return validateMandatoryFields();"/>
			</div>
		}
	}
 else
 {
		<script>
			setTimeout(function () { window.parent.hideModal('modal-feedback'); }, 3000);
		</script>
	}
</article>
