@{
    ViewBag.Title = "Datenschutz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container" class="datenschutzbestimmungen">
	<h2>Datenschutzbestimmungen talentify.me</h2>
	<h4>1. Sicherheit und Anonymität</h4>
	<p>talentify.me schreibt dem Thema Sicherheit höchste Bedeutung zu und versucht alles in seiner Macht stehende, um unberechtigten Zugriff auf talentify.me von seinen Nutzern anvertrauten Daten, zu verhindern. Technische Schutzmaßnahmen wie SSL-Verschlüsselung und Firewalls sollen in Kombination mit einem differenzierten System an Zugriffsberechtigungen höchstmögliche Datensicherheit garantieren. Die Daten, die im Rahmen deines talentify.me-Profils an andere Mitglieder übermittelt werden, sind mit dem vom Nutzer gewählten Klarnamen verknüpft. Die Kontaktaufnahme zu anderen erfolgt über ein internes Kommunikationstool, dem sogenannten Lernhilfecenter. Optinal angegebene Telefonnummern und die E-Mailadresse des Nutzers bleiben standardmäßig geheim. So kann der Nutzer selbst entscheiden, ob und wann er seine Identität gegenüber anderen Nutzern preisgibt in dem er Lernhilfe anbietet oder erhält.</p>
	<h4>2. Einwilligung und Widerruf</h4>
	<p>Mit Vertragsabschluss erlaubt der Nutzer die Erhebung, Verarbeitung und Nutzung der personenbezogenen Daten durch talentify.me oder durch Dritte im Namen und Auftrag von talentify.me auf Grundlage der nachfolgenden Datenschutzbestimmungen. Die Einwilligung des Nutzers wird von talentify.me protokolliert.</p>
	<p>Der Nutzer hat jederzeit das Recht, die Einwilligung zur nachfolgend detailliert beschriebenen Nutzung seiner Daten im Rahmen der gesetzlichen Vorgaben ganz oder zum Teil zu widerrufen. Darüber hinaus hat er das Recht, der Nutzung seiner anonymisierten bzw. pseudonymisierten Daten zu widersprechen.</p>
	<p>Für den Widerruf genügt ein E-Mail an <a href="mailto:hallo@talentify.at">hallo@talentify.at</a>, in dem der Nutzer die im Zuge der Registrierung verwendete E-Mail-Adresse und Postadresse angibt.</p>
	<p>talentify.me macht im Rahmen der gesetzlichen Vorgaben die Inanspruchnahme seiner Dienstleistungen nicht davon abhängig, dass der Nutzer in die Verwendung seiner Daten für andere Zwecke einwilligt, als für Errichtung und Erfüllung des Vertrages.</p>
	<h4>3. Erhebung, Verarbeitung und Nutzung personenbezogener Daten</h4>
	<p>Zur Erbringung der in den AGB beschriebenen Leistungen durch talentify.me ist es erforderlich, personenbezogene Daten zu erheben, zu verarbeiten und zu nutzen, die der Nutzer vor allem im Zuge des Registrierungsprozesses oder beim Vervollständigen seines Profils macht.</p>
	<p>Personenbezogene Daten sind dabei Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person.</p>
	<p>Im Zuge der kostenlosen Registrierung wird der Nutzer aufgefordert, bestimmte Angaben zu machen, ohne die das Registrieren und nachfolgende Verifizieren seiner Adresse nicht abgeschlossen werden kann.</p>
	<p>Dabei handelt es sich um folgende Daten:</p>
	<ul>
		<li>Klarname (Vor- und Nachname)</li>
		<li>E-Mail-Adresse</li>
		<li>Passwort</li>
		<li>Schule</li>
	</ul>
	<p>Der Zugang zu talentify.me erfolgt über die Zugangsdaten, die sich aus der vom Nutzer angegebenen E-Mail-Adresse und dem von ihm definierten Passwort zusammensetzen.</p>
	<p>Im Anschluss an die Registrierung und an die E-Mail Verifizierung kann der Nutzer optional folgende Daten angeben bzw. anlegen:</p>
	<ul>
		<li>Profilfoto</li>
		<li>Geschlecht</li>
		<li>Geburtsdatum</li>
		<li>Adresse (Straße, PLZ, Ort, Land)</li>
		<li>Telefonnummer</li>
		<li>Klasse</li>
		<li>Motto bzw. Zitat</li>
		<li>Social Media Profile (Facebook, Google+, Twitter, Instagram, Pinterest)</li>
		<li>Höchste Ausbildung der Eltern</li>
	</ul>
	<p>Das Profil eines Nutzers wird nur für angemeldete Nutzer sichtbar. Angaben zu Telefonnummer und E-Mailadresse werden nur bei der Anfragebestätigung zur Lernhilfe dem jeweiligen Nutzer freigegeben. Informationen wie Geburtsdatum, Adresse und die höchste Ausbildung der Eltern dienen rein zur internen Verwendung und sind nicht für andere Nutzer sichtbar.</p>
	<p>Bei jedem Zugriff auf talentify.me werden Nutzungsdaten durch den jeweiligen Internet-Browser übermittelt und in Protokolldateien gespeichert. Diese Daten sind:</p>
	<ul>
		<li>IP-Adresse des zugreifenden Rechners</li>
		<li>Browsertyp und Version</li>
		<li>Nutzerkennung auf www.talentify.me</li>
		<li>Name der abgerufenen Seite</li>
		<li>Datum und Uhrzeit des Abrufs</li>
		<li>Referrer-URL</li>
		<li>Übertragene Datenmenge</li>
		<li>Statusmeldung darüber, ob der Abruf erfolgreich war</li>
		<li>Sitzungs-Identifikationsnummer</li>
	</ul>
	<p>In den sogenannten Login-Datensätzen werden jedes Mal, wenn der Nutzer sich in die Plattform einloggt, folgende Nutzungsdaten gespeichert:</p>
	<ul>
		<li>Datum und Uhrzeit des Logins</li>
		<li>Nutzerkennung auf der talentify.me-Plattform</li>
		<li>IP-Adresse (Internet-Protokoll-Adresse)</li>
		<li>Nummer der Session Cookies</li>
		<li>Sitzungs-Identifikationsnummer</li>
	</ul>
	<h4>4. Zweckbindung</h4>
	<p>Personenbezogene Daten werden primär erhoben, um den Nutzern eine sichere, reibungslose, effiziente und persönliche Nutzung von www.talentify.me möglich zu machen. In erster Linie werden diese Daten für folgendes verwendet:</p>
	<ul>
		<li>Erbringung der vom Nutzer gewünschten Leistungen und des vom Nutzer gewünschten Services</li>
		<li>Anpassung, Messung und Verbesserung der Leistungen von talentify.me und seiner Inhalte</li>
		<li>Benachrichtigung über Leistungen, Marketingaktionen und Werbeangebote von talentify.me (sofern diese nach dieser Datenschutzvereinbarung zulässig sind und die erforderlichen Einwilligungen erteilt sind)</li>
		<li>Zusendung von Marketingkommunikation von talentify.me (sofern diese nach dieser Datenschutzvereinbarung zulässig sind und die erforderlichen Einwilligungen erteilt sind)</li>
		<li>Verhinderung, Aufdeckung und Untersuchung möglicherweise verbotener oder illegaler Aktivitäten und Durchsetzung der Allgemeinen Geschäftsbedingungen von talentify.me</li>
		<li>Beilegung von Streitigkeiten und Behebung von Problemen.</li>
	</ul>
	<h4>5. Weitergabe von personenbezogenen Daten an Dritte</h4>
	<p>Bei talentify.me findet weder Verkauf, noch Tausch, noch eine sonstige unautorisierte Weitergabe von persönlichen Daten und Informationen an Dritte zu kommerziellen Zwecken statt. talentify.me gibt personenbezogene Daten von Nutzern nur an Dritte weiter, wenn und soweit der Nutzer seine Einwilligung hierzu erteilt hat beziehungsweise soweit talentify.me hierzu infolge von gesetzlichen Regelungen oder behördlichen Anordnungen verpflichtet ist.</p>
	<p>Als Dritte gelten nicht externe Dienstleister von talenitfy, die im Namen und Auftrag von talenitfy.me Leistungen erbringen. Hierzu zählen beispielsweise Payment Provider, Inkassounternehmen oder Email- bzw. Newsletter-Versender.</p>
	<p>talentify.me verwendet zum Versand des Newsletters den Listenprovider MailChimp. Wenn sich der Nutzer für unseren Newsletter registriert, werden die Daten, die er bei der Newsletter-Registrierung angibt, an MailChimp übertragen und dort gespeichert. Nach dem direkten Anmelden über die Newsletterbestellung erhält der Nutzer eine E-Mail, um seine Registrierung zu bestätigen (“double opt-in”). Bei der Anmeldung im Zuge des Anlegens des Benutzerkontos erfolgt die Bestätigung im Zuge der Bestätigung des Anlegens des Benutzerkontos. MailChimp bietet umfangreiche Analysemöglichkeiten darüber, wie die Newsletter geöffnet und benutzt werden. Diese Anlysen sind gruppenbezogen und werden von talentify.me nicht zur individuellen Auswertung verwendet. Weitere Informationen zu MailChimp finden sich unter: <a href="http://mailchimp.com/legal/privacy/" target="_blank">http://mailchimp.com/legal/privacy/</a></p>
	<h4>6. Erstellung pseudonymer Nutzungsprofile für Webanalysen</h4>
	<p>talentify.me wird Analysen über das Verhalten seiner Nutzer im Rahmen der Nutzung seines Service durchführen bzw. durchführen lassen und zu diesem Zweck anonymisierte oder pseudonymisierte Nutzungsprofile erstellen. Diese Daten werden im Gültigkeitsbereich der EU-Datenschutzrichtlinie gespeichert. Die Erstellung der Nutzungsprofile erfolgt zu dem alleinigen Zweck, den Service von talentify.me effizienter, sicherer und nutzerfreundlicher zu gestalten.</p>
	<p>talentify.me benutzt zur statistischen Auswertung der Besucherzugriffe Google Analytics. Google Analytics verwendet sog. “Cookies”, Textdateien, die auf dem Computer der Nutzer gespeichert werden und die eine Analyse der Benutzung der Website durch sie ermöglichen. Die durch den Cookie erzeugten Informationen über die Benutzung von www.talentify.me werden auf dem Server des Anbieters gespeichert. Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Nutzer können die Installation der Cookies durch eine entsprechende Einstellung ihrer Browser Software verhindern. Dies kann jedoch dazu führen, dass nicht sämtliche Funktionen von www.talentify.me voll genutzt werden können. Weitere Informationen zu Google Analytics finden sich unter: <a href="http://www.google.com/analytics/" target="_blank">http://www.google.com/analytics/</a></p>
	<h4>7. Einsatz von Cookies</h4>
	<p>talentify.me verwendet sogenannte "Cookies", um die Online-Erfahrung und Online-Zeit des Nutzer individuell auszugestalten und zu optimieren. Ein Cookie ist eine Textdatei, die entweder temporär im Arbeitsspeicher des Computers abgelegt ("Sitzungscookie") oder auf der Festplatte gespeichert wird ("permanenter" Cookie). Cookies enthalten z.B. Informationen über die bisherigen Zugriffe des Nutzers auf den entsprechenden Server bzw. Informationen darüber, welche Angebote bisher aufgerufen wurden. Cookies werden nicht dazu eingesetzt, um Programme auszuführen oder Viren auf Ihren Computer zu laden. Hauptzweck von Cookies ist vielmehr, ein speziell auf den Nutzer zugeschnittenes Angebot bereitzustellen und die Nutzung des Services so komfortabel wie möglich zu gestalten.</p>
	<p>talentify.me verwendet Sitzungscookies und plant Partner- und Affiliate-Cookies zu verwenden.</p>
	<p>talentify.me verwendet überwiegend "Sitzungscookies", die nicht auf der Festplatte des Nutzers gespeichert werden und die beim Ausloggen automatisch sowie - je nach Browsereinstellung - mit Verlassen des Browsers gelöscht werden. Sitzungscookies werden hierbei zur Login-Authentifizierung verwendet.</p>
	<p>talentify.me plant Partner- und Affiliate-Cookies zu verwenden, sofern ein Nutzer über eine externe Werbefläche auf die Dienste von talentify.me zugreift. Diese Cookies dienen der Abrechnung mit dem Kooperationspartner und enthalten keine personenbezogenen Daten des Nutzers. Sie werden automatisch gelöscht, wenn sich der Nutzer auf einer talentify.me-Website ausloggt oder spätestens nach Ablauf von vier Wochen.</p>
	<p>Der Nutzer hat jederzeit die Möglichkeit, das Setzen von Cookies abzulehnen. Dies geschieht in der Regel durch die Wahl der entsprechenden Option in den Einstellungen des Browsers oder durch zusätzliche Programme. Näheres ist der Hilfe-Funktion des nutzerseitig verwendeten Browsers zu entnehmen. Entscheidet sich der Nutzer für die Ausschaltung von Cookies, kann dies den Leistungsumfang des Services mindern und sich bei der Nutzung der Dienste von talentify.me negativ bemerkbar machen.</p>
	<h4>8. Auskunft über gespeicherte Daten</h4>
	<p>Der Nutzer hat das Recht, jederzeit Auskunft über die zu seiner Person bei talentify.me gespeicherten Daten zu verlangen, sowie über deren Herkunft, den Zweck der Speicherung und den Empfänger, an den die Daten weitergegeben werden. Diese Auskunft ist unentgeltlich und wird schriftlich erteilt.</p>
	<p>Das Auskunftsverlangen ist unter Beifügung einer Kopie des Personalausweises schriftlich und eigenhändig unterschrieben an folgende Adresse zu richten: talentify.me, talent 2 talent Gmbh, Liechtensteinstraße 25/DG, 1090 Wien.</p>
	<h4>9. Löschung und Berichtigung von Daten</h4>
	<p>Der Nutzer hat im Rahmen der gesetzlichen Vorgaben das Recht, jederzeit die Berichtigung bzw. die Löschung der über ihn bei talentify.me gespeicherten Daten zu verlangen.</p>
	<p>Indem der Nutzer sich einloggt und sein Konto löscht, kann er seine Daten jederzeit selbst dauerhaft löschen bzw. bearbeiten.</p>
	<p>Vom Nutzer vorab angefrage oder erhaltene Lernhilfeanfragen und Privatnachrichten bleiben nach dem Löschen des Kontos erhalten, werden jedoch einem anonymisierten Dummy-Benutzer zugeordnet.</p>
	<p>Alternativ kann er das Verlangen unter Beifügung einer Kopie des Personalausweises schriftlich und eigenhändig unterschrieben an folgende Adresse richten:</p>
	<p>talentify.me, talent 2 talent Gmbh, Liechtensteinstraße 25/DG, 1090 Wien</p>
	<h4>10. Dauer der Speicherung</h4>
	<p>talentify.me wird die personenbezogenen Daten des Nutzers umgehend nach Beendigung der Mitgliedschaft löschen. Wenn einer Löschung gesetzliche, satzungsmäßige oder vertragliche Gründe entgegenstehen, wird talentify.me die Daten sperren.</p>
	<p>Nach 12 Monaten werden alle Lernhilfeanfragen und enthaltene Nachrichten, die nicht aktiv von den Nutzern selbst archiviert werden, automatisch gelöscht.</p>
	<h4>11. Überprüfung personenbezogener Daten</h4>
	<p>Zum Schutz vor Personen, die www.talentify.me missbrauchen, analysiert talentify.me durch verschiedene automatisierte Monitoring-Werkzeuge stichprobenartig Aktivitäten auf der Plattform und prüft Nutzereingaben auf Plausibilität, ohne dass talentify.me insoweit eine Rechtspflicht obliegt. Bestimmte Zeichenfolgen oder Logins verschiedener Nutzer, die beispielsweise von einem Computer zu stammen scheinen, können zum Sperren verdächtiger Aktivitäten führen.</p>
	<h4>12. Derzeitiger Stand der Technik</h4>
	<p>Dem Nutzer ist bekannt, dass der Datenschutz bei Datenübertragungen im Internet nach dem derzeitigen Stand der Technik noch nicht umfassend gewährleistet ist. Insbesondere stellen E-Mails keine gesicherte Kommunikation dar, da das „Mitlesen“ von Inhalten technisch nicht ausgeschlossen werden kann. Der Nutzer trägt insofern für die Sicherheit der von ihm ins Internet übermittelten Daten selbst Sorge.</p>
	<h4>13. Disclaimer</h4>
	<p>talentify.me hat keinen Einfluss auf die Einhaltung der Datenschutzbestimmungen durch die Betreiber externer Webseiten und Dienste Dritter und kann für die Einhaltung der Datenschutzbestimmungen durch die Betreiber verlinkter Seiten keine Haftung übernehmen. talentify.me macht sich den Inhalt externer, von talentify.me oder von Nutzern verlinkter Websites oder Dateien unter keinen Umständen zu Eigen.</p>
	<h4>14. Newsletter</h4>
	<p>Der Nutzer ist damit einverstanden, dass talentify.me ihm im Rahmen des unentgeltlichen sowie ggf. des entgeltlichen Vertragsverhältnisses Produktinformationen zu talentify.me zusendet. Newsletter sowie Informationen zu Produkten und Dienstleistungen von Partnerunternehmen werden an den Nutzer nur versendet, sofern dieser dies ausdrücklich wünscht. Ist der Nutzer nicht mehr mit der Zusendung einverstanden, kann er dieser jederzeit widersprechen. Am Ende einer jeden E-Mail/eines jeden Newsletters befindet sich diesbezüglich ein deutlicher Hinweis auf die Widerspruchsmöglichkeit sowie ein entsprechender Link. Darüberhinausgehend kann der Nutzer auch in den Einstellungen des Benutzerkontos die Newsletterzustellung deaktivieren.</p>
</div>
