@{
    ViewBag.Title = "Impressum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container" class="impressum">
	
		<h2 style="text-align: left;">Impressum</h2> 
		<p>talent 2 talent GmbH<br/>Gesellschaft mit beschränkter Haftung</p>
		<p>FN: 423659 d<br/>FB-Gericht: Wiener Neustadt<br/>Sitz: 2700 Wiener Neustadt<br/>Prof. Dr. Stephan Koren-Straße 10</p>
		<p>Tel: @ViewBag.Phone<br/>E-Mail: <a href="mailto:hallo@talentify.at">hallo@talentify.at</a></p>
		<p>Mitglied der WKÖ, WKNÖ</p>
		<p>Kontakt und Zweigstelle in Wien:<br/>talent 2 talent GmbH<br/>Liechtensteinstraße 25/DG<br/>1090 Wien</p>
		<p>Kontoinhaber: talent 2 talent GmbH<br/>Bankinstitut: ERSTE Bank der österreichischen Sparkasse<br/>IBAN-Nr.: AT682011182615091000<br/>BIC-Code: GIBAATWWXXX</p>
		<p>Vertretungsbefugte Geschäftsführung:<br/>Mag.(FH) Bernhard Hofer<br/><a href="mailto:bernhard@talentify.at">bernhard@talentify.at</a></p>
		<p>Gewerbeordnung: <a href="http://www.ris.bka.gv.at" target="_blank">www.ris.bka.gv.at</a><br/>Bezirkshauptmannschaft Wiener Neustadt</p>
</div>
