@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<p>Du hast dich erfolgreich angemeldet, jedoch wurde dein Account noch nicht freigeschalten. Entweder weil du auf eine Schule in einem nicht freigeschaltenem Bundesland gehst, bei der Registrierung "Jetzt nicht freischalten" gewählt hast oder wir im Hintergrund noch deinen Schülerausweis kontrollieren. Aus diesem Grund kannst du noch nicht alle Funktionen von talentify.me nutzen. Wir bemühen uns laufend neue Bundesländer und Schule freizuschalten sowie die Möglichkeiten zur Verifizierung ob du ein Schüler bist zu verbessern. Bei Fragen kannst du dich jeder Zeit gerne an <a href="mailto:support@talentify.me">support@talentify.me</a> wenden.</p>