@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

<p>Du hast dich leider ohne Registrierungscode angemeldet und kannst daher noch nicht alle Funktionen von talentify.me nutzen. Wenn du auf eine talentify Partnerschule gehst die bereits an der Testphase teilnimmt, dann frag im Sekretariat deiner Schule nach einem Registrierungscode. Ansonsten lass uns bitte wissen auf welche Schule du gehst. Wir bemühen uns laufend neue Schulen freizuschalten.</p>
<p>Ist deine Schule inzwischen freigeschalten bzw. hast du einen Registrierungscode? Ja, dann bitte nichts wie auf <a href="javascript:void(0);" onclick="parent.window.location.href='/Profile/Edit'">Profil editieren</a> und deine Schule auswählen!</p>
