<!DOCTYPE html>
<html>
<head>
	<title>talentify - Zukunft bilden</title>
	<link rel="stylesheet" href="{BaseUrl}/Css/MyFontsWebfontsKit.css" />
	<style>
		div { color: #555 !important; }
	</style>
</head>
	<body>
		
		<table style="width:100%;max-width:960px;">
			<tr>
				<td style="width:100%;text-align: center;background: #183343;padding: 10px 0 2px 0;">
					<a href="{BaseUrl}" target="_blank"><img src="{BaseUrl}/Images/logo.png" alt="talentify"/></a>
				</td>
			</tr>
			<tr>
				<td style="text-align: center; font-family: CaeciliaLTPro-56Italic, Arial;color: #183343;font-size: 25px;padding: 15px 0 40px 0;">Die einzigartige und nachhaltige Lernhilfe -<br/>von SchülerInnen für SchülerInnen</td>
			</tr>
			<tr>
				<td style="font-family: CaeciliaLTPro-55Roman, Arial;color: #555;font-size: 14px;padding: 0 0 10px 0;">
					<p style="color: #555;">Du hast dich für den talentify.me Academy Workshop <strong>{Title}</strong> der am <strong>{Tag}, den {Datum} von {UhrzeitVon} bis {UhrzeitBis}</strong> stattgefunden hat angemeldet, dann aber leider <strong>nicht teilgenommen</strong>.</p>
					<p style="color: #555;">Das war bereits das zweite Mal, dass dies passiert ist. Aus diesem Grund, haben wir dich vorübergehend vom Workshop Programm gesperrt. Das heißt, du kannst dich bis auf weiteres für keine Academy Workshops mehr anmelden.</p>
					<p style="color: #555;">Solltest du Fragen haben, kannst du dich jeder Zeit gerne bei uns melden. Einfach per E-Mail an <a href="mailto:support@talentify.me">support@talentify.me</a> oder per Facebook unter <a href="https://www.facebook.com/talentify.me">https://www.facebook.com/talentify.me</a></p>
				</td>
			</tr>
			<tr>
				<td style="font-family: CaeciliaLTPro-55Roman, Arial;color: #555;font-size: 14px;padding: 0 0 30px 0;">Liebe Grüße<br/>Dein talentify-Team</td>
			</tr>
			<tr>
				<td style="border-top:1px solid #e5e5e5;text-align: center;padding: 10px 0 0 0;">
					<span style="font-family: CaeciliaLTPro-55Roman, Arial;font-size: 14px;color: #183343;margin:0 10px 0 0;">&copy; 2014 talentify</span>
					<a href="{BaseUrl}/Content/Impressum" style="font-family: CaeciliaLTPro-55Roman, Arial;font-size: 14px;color: #183343;text-decoration: none;margin:0 10px 0 0;">Impressum</a>
					<a href="{BaseUrl}/Content/Datenschutz" style="font-family: CaeciliaLTPro-55Roman, Arial;font-size: 14px;color: #183343;text-decoration: none;">Datenschutzbestimmungen</a>
				</td>
			</tr>
		</table>
	</body>
</html>
